In [1]:
import pandas as pd

main_dir = '/home/gap2/Downloads/csvProfiles/'

In [2]:
from nltk.stem import SnowballStemmer 

stemmer_ss = SnowballStemmer("english")   #an instance of Snowball Stemmer

In [4]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

In [5]:
from nltk.tokenize import word_tokenize

def cleanSentence(sentence):
    token_words=word_tokenize(sentence) #we need to tokenize the sentence or else stemming will return the entire sentence as is.
    stem_sentence=[]
    for word in token_words:
        if word not in stop_words:
            stem_sentence.append(stemmer_ss.stem(word))
            stem_sentence.append(" ") #adding a space so that we can join all the words at the end to form the sentence again.
    return "".join(stem_sentence)

In [6]:
import sister

sentence_embedding = sister.MeanEmbedding(lang="en")

Loading model...

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [14]:
# restaurants1 dataset
d1A = pd.read_csv(main_dir + 'D1partA.csv', sep='|', engine='python')
d1A

      Id            Name                                    Aggregate Value
0      0        new york  http://www.okkam.org/ontology_restaurant1.owl#...
1      1       la grotta  la grotta 404/231-1368 http://www.okkam.org/on...
2      2           fenix  fenix http://www.okkam.org/ontology_restaurant...
3      3             NaN  http://www.okkam.org/ontology_restaurant1.owl#...
4      4             NaN  http://www.okkam.org/ontology_restaurant1.owl#...
..   ...             ...                                                ...
334  334             NaN  http://www.okkam.org/oaie/restaurant1-city59 h...
335  335   san francisco  http://www.okkam.org/ontology_restaurant1.owl#...
336  336  locanda veneta  locanda veneta 310/274-1893 http://www.okkam.o...
337  337             NaN  http://www.okkam.org/oaie/restaurant1-city29 8...
338  338             NaN  http://www.okkam.org/oaie/restaurant1-city90 h...

[339 rows x 3 columns]

In [16]:
d1A['Name'] = d1A['Name'].astype(str)
d1A['Aggregate Value'] = d1A['Aggregate Value'].astype(str)
d1A['Embedded Name'] = d1A.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d1A['Embedded Ag.Value'] = d1A.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [18]:
d1A['Clean Name'] = d1A.apply(lambda row : cleanSentence(row['Name']), axis = 1)
d1A['Embedded Clean Name'] = d1A.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d1A['Clean Ag.Value'] = d1A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d1A['Embedded Clean Ag.Value'] = d1A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d1A

,Id,Name,Aggregate Value,Embedded Name,Embedded Ag.Value,Clean Name,Embedded Clean Name,Clean Ag.Value,Embedded Clean Ag.Value
0,0,new york,http://www.okkam.org/ontology_restaurant1.owl#...,"[-0.26974487, -0.020597234, -0.15699272, -0.11...","[0.023770556, 0.014953189, -0.03279613, -0.111...",new york,"[-0.26974487, -0.020597234, -0.15699272, -0.11...",http : //www.okkam.org/ontology_restaurant1.ow...,http : //www.okkam.org/ontology_restaurant1.ow...
1,1,la grotta,la grotta 404/231-1368 http://www.okkam.org/on...,"[0.4706669, 0.02895772, -0.035498083, -0.27169...","[0.19511637, 0.06164554, 0.024117367, -0.11776...",la grotta,"[0.4706669, 0.02895772, -0.035498083, -0.27169...",la grotta 404/231-1368 http : //www.okkam.org/...,la grotta 404/231-1368 http : //www.okkam.org/...
2,2,fenix,fenix http://www.okkam.org/ontology_restaurant...,"[0.6965581, 0.10163141, -0.18682232, -0.350282...","[0.1602679, 0.038896047, -0.020644732, -0.0894...",fenix,"[0.6965581, 0.10163141, -0.18682232, -0.350282...",fenix http : //www.okkam.org/ontology_restaura...,fenix http : //www.okkam.org/ontology_restaura...
3,3,nan,http://www.okkam.org/ontology_restaurant1.owl#...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.16592269, 0.022380294, 0.012256658, -0.1057...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",http : //www.okkam.org/ontology_restaurant1.ow...,http : //www.okkam.org/ontology_restaurant1.ow...
4,4,nan,http://www.okkam.org/ontology_restaurant1.owl#...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.13566089, -0.009102686, 0.067943685, -0.090...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",http : //www.okkam.org/ontology_restaurant1.ow...,http : //www.okkam.org/ontology_restaurant1.ow...
...,...,...,...,...,...,...,...,...,...
334,334,nan,http://www.okkam.org/oaie/restaurant1-city59 h...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.16358972, 0.015114665, 0.029040478, -0.1028...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",http : //www.okkam.org/oaie/restaurant1-city59...,http : //www.okkam.org/oaie/restaurant1-city59...
335,335,san francisco,http://www.okkam.org/ontology_restaurant1.owl#...,"[0.20697246, -0.13367936, -0.085364826, 0.1772...","[0.18267633, -0.02274085, -0.008920166, -0.012...",san francisco,"[0.20697246, -0.13367936, -0.085364826, 0.1772...",http : //www.okkam.org/ontology_restaurant1.ow...,http : //www.okkam.org/ontology_restaurant1.ow...
336,336,locanda veneta,locanda veneta 310/274-1893 http://www.okkam.o...,"[0.22906858, -0.053765826, 0.17555802, -0.4329...","[0.15213223, 0.043579828, 0.060943488, -0.1460...",locanda veneta,"[0.22906858, -0.053765826, 0.17555802, -0.4329...",locanda veneta 310/274-1893 http : //www.okkam...,locanda veneta 310/274-1893 http : //www.okkam...
337,337,nan,http://www.okkam.org/oaie/restaurant1-city29 8...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.108805835, 0.03888278, 0.044483274, -0.1250...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",http : //www.okkam.org/oaie/restaurant1-city29...,http : //www.okkam.org/oaie/restaurant1-city29...
338,338,nan,http://www.okkam.org/oaie/restaurant1-city90 h...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.15082091, 0.060897686, 0.05191388, -0.08938...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",http : //www.okkam.org/oaie/restaurant1-city90...,http : //www.okkam.org/oaie/restaurant1-city90...

In [19]:
# restaurants2 dataset
d1B = pd.read_csv(main_dir + 'D1partB.csv', sep='|', engine='python')
d1B

,Id,Name,Aggregate Value
0,0,second avenue deli,http://www.okkam.org/ontology_restaurant2.owl#...
1,1,asian,asian http://www.okkam.org/ontology_restaurant...
2,2,NaN,http://www.okkam.org/ontology_restaurant2.owl#...
3,3,NaN,http://www.okkam.org/ontology_restaurant2.owl#...
4,4,il mulino,http://www.okkam.org/ontology_restaurant2.owl#...
...,...,...,...
2251,2251,NaN,http://www.okkam.org/ontology_restaurant2.owl#...
2252,2252,french quarter food shop,http://www.okkam.org/ontology_restaurant2.owl#...
2253,2253,ed debevic's,http://www.okkam.org/ontology_restaurant2.owl#...
2254,2254,japanese,http://www.okkam.org/ontology_restaurant2.owl#...
2255,2255,eats,http://www.okkam.org/ontology_restaurant2.owl#...

In [21]:
d1B['Name'] = d1B['Name'].astype(str)
d1B['Aggregate Value'] = d1B['Aggregate Value'].astype(str)
d1B['Embedded Name'] = d1B.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d1B['Embedded Ag.Value'] = d1B.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [22]:
d1B['Clean Name'] = d1B.apply(lambda row : cleanSentence(row['Name']), axis = 1)
d1B['Embedded Clean Name'] = d1B.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d1B['Clean Ag.Value'] = d1B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d1B['Embedded Clean Ag.Value'] = d1B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d1B

,Id,Name,Aggregate Value,Embedded Name,Embedded Ag.Value,Clean Name,Embedded Clean Name,Clean Ag.Value,Embedded Clean Ag.Value
0,0,second avenue deli,http://www.okkam.org/ontology_restaurant2.owl#...,"[0.017618248, -0.010271524, 0.08584527, -0.107...","[0.11676179, 0.05668649, 0.05426824, -0.079161...",second avenu deli,"[0.017618248, -0.010271524, 0.08584527, -0.107...",http : //www.okkam.org/ontology_restaurant2.ow...,http : //www.okkam.org/ontology_restaurant2.ow...
1,1,asian,asian http://www.okkam.org/ontology_restaurant...,"[0.16848935, -0.07134406, -0.076850645, -0.147...","[0.17113557, 0.007759756, 0.083883256, -0.1771...",asian,"[0.16848935, -0.07134406, -0.076850645, -0.147...",asian http : //www.okkam.org/ontology_restaura...,asian http : //www.okkam.org/ontology_restaura...
2,2,nan,http://www.okkam.org/ontology_restaurant2.owl#...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.14399622, -0.016047215, -0.021960847, -0.10...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",http : //www.okkam.org/ontology_restaurant2.ow...,http : //www.okkam.org/ontology_restaurant2.ow...
3,3,nan,http://www.okkam.org/ontology_restaurant2.owl#...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.15437119, -0.057460397, 0.0017552525, -0.12...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",http : //www.okkam.org/ontology_restaurant2.ow...,http : //www.okkam.org/ontology_restaurant2.ow...
4,4,il mulino,http://www.okkam.org/ontology_restaurant2.owl#...,"[0.43626016, 0.22471015, 0.05730301, 0.1252291...","[0.19115758, 0.09489743, 0.044537503, -0.03928...",il mulino,"[0.43626016, 0.22471015, 0.05730301, 0.1252291...",http : //www.okkam.org/ontology_restaurant2.ow...,http : //www.okkam.org/ontology_restaurant2.ow...
...,...,...,...,...,...,...,...,...,...
2251,2251,nan,http://www.okkam.org/ontology_restaurant2.owl#...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.16781496, -0.013450062, -0.009246377, -0.09...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",http : //www.okkam.org/ontology_restaurant2.ow...,http : //www.okkam.org/ontology_restaurant2.ow...
2252,2252,french quarter food shop,http://www.okkam.org/ontology_restaurant2.owl#...,"[-0.10574329, 0.24598856, -0.10444503, -0.0997...","[0.077773266, 0.11787449, 0.008634702, -0.0792...",french quarter food shop,"[-0.10574329, 0.24598856, -0.10444503, -0.0997...",http : //www.okkam.org/ontology_restaurant2.ow...,http : //www.okkam.org/ontology_restaurant2.ow...
2253,2253,ed debevic's,http://www.okkam.org/ontology_restaurant2.owl#...,"[-0.1609286, -0.14179507, 0.16421378, -0.02694...","[0.10289885, 0.03827973, 0.06139608, -0.067161...",ed debev 's,"[-0.1609286, -0.14179507, 0.16421378, -0.02694...",http : //www.okkam.org/ontology_restaurant2.ow...,http : //www.okkam.org/ontology_restaurant2.ow...
2254,2254,japanese,http://www.okkam.org/ontology_restaurant2.owl#...,"[0.14168875, -0.55205125, 0.22197057, -0.31644...","[0.16577546, -0.088381685, 0.1436475, -0.21086...",japanes,"[0.14168875, -0.55205125, 0.22197057, -0.31644...",http : //www.okkam.org/ontology_restaurant2.ow...,http : //www.okkam.org/ontology_restaurant2.ow...
2255,2255,eats,http://www.okkam.org/ontology_restaurant2.owl#...,"[0.6910431, -0.07898853, 0.28040522, 0.2885383...","[0.1890092, 0.05776976, 0.06541521, -0.0395400...",eat,"[0.6910431, -0.07898853, 0.28040522, 0.2885383...",http : //www.okkam.org/ontology_restaurant2.ow...,http : //www.okkam.org/ontology_restaurant2.ow...

In [23]:
d1groundtruth = pd.read_csv(main_dir + 'D1groundtruth.csv', sep='|', engine='python')
d1groundtruth

    EntityFromPartA  EntityFromPartB
0                65              270
1               291               73
2               322              443
3                34              797
4               260              601
..              ...              ...
84              107             1772
85               92              331
86              238             1013
87              242             1321
88              286             2021

[89 rows x 2 columns]

In [24]:
# abt dataset
d2A = pd.read_csv(main_dir + 'D2partA.csv', sep='|', engine='python')
d2A

,Id,Name,Aggregate Value
0,0,sony turntable - pslx350h,sony turntable - pslx350h sony turntable - psl...
1,1,bose acoustimass 5 series iii speaker system -...,399 bose acoustimass 5 series iii speaker syst...
2,2,sony switcher - sbv40s,sony switcher - sbv40s sony switcher - sbv40s/...
3,3,sony 5 disc cd player - cdpce375,sony 5 disc cd player- cdpce375/ 5 disc change...
4,4,bose 27028 161 bookshelf pair speakers in whit...,bose 27028 161 bookshelf pair speakers in whit...
...,...,...,...
1071,1071,logitech cordless desktop wave keyboard and mo...,logitech cordless desktop wave keyboard and mo...
1072,1072,mitsubishi dlp black tv stand - mbs73v,mitsubishi dlp black tv stand - mbs73v/ matchi...
1073,1073,logitech digital precision pc gaming headset -...,logitech digital precision pc gaming headset -...
1074,1074,logitech 2.1 multimedia silver speaker system ...,logitech 2.1 multimedia silver speaker system ...
1075,1075,linksys wireless-g range expander - wre54g,linksys wireless-g range expander - wre54g 99 ...

In [25]:
d2A['Embedded Name'] = d2A.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d2A['Embedded Ag.Value'] = d2A.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [26]:
d2A['Clean Name'] = d2A.apply(lambda row : cleanSentence(row['Name']), axis = 1)
d2A['Embedded Clean Name'] = d2A.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d2A['Clean Ag.Value'] = d2A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d2A['Embedded Clean Ag.Value'] = d2A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d2A

,Id,Name,Aggregate Value,Embedded Name,Embedded Ag.Value,Clean Name,Embedded Clean Name,Clean Ag.Value,Embedded Clean Ag.Value
0,0,sony turntable - pslx350h,sony turntable - pslx350h sony turntable - psl...,"[0.009328393, 0.0007387332, 0.058370516, -0.16...","[0.05931305, -0.078249454, 0.040307462, -0.172...",soni turntabl - pslx350h,"[0.009328393, 0.0007387332, 0.058370516, -0.16...",soni turntabl - pslx350h soni turntabl - pslx3...,soni turntabl - pslx350h soni turntabl - pslx3...
1,1,bose acoustimass 5 series iii speaker system -...,399 bose acoustimass 5 series iii speaker syst...,"[0.08126505, -0.10974472, 0.12343468, -0.07860...","[0.0725396, -0.10282362, 0.112487935, -0.13742...",bose acoustimass 5 seri iii speaker system - a...,"[0.08126505, -0.10974472, 0.12343468, -0.07860...",399 bose acoustimass 5 seri iii speaker system...,399 bose acoustimass 5 seri iii speaker system...
2,2,sony switcher - sbv40s,sony switcher - sbv40s sony switcher - sbv40s/...,"[-0.13075158, -0.063256375, -0.09825139, -0.15...","[0.04352166, -0.09618125, -0.07151761, -0.1250...",soni switcher - sbv40s,"[-0.13075158, -0.063256375, -0.09825139, -0.15...",soni switcher - sbv40s soni switcher - sbv40s/...,soni switcher - sbv40s soni switcher - sbv40s/...
3,3,sony 5 disc cd player - cdpce375,sony 5 disc cd player- cdpce375/ 5 disc change...,"[-0.09379893, -0.09218319, 0.15044618, -0.1952...","[-0.0185954, -0.077173114, 0.09627977, -0.1749...",soni 5 disc cd player - cdpce375,"[-0.09379893, -0.09218319, 0.15044618, -0.1952...",soni 5 disc cd player- cdpce375/ 5 disc change...,soni 5 disc cd player- cdpce375/ 5 disc change...
4,4,bose 27028 161 bookshelf pair speakers in whit...,bose 27028 161 bookshelf pair speakers in whit...,"[0.06692042, -0.056180872, 0.11589646, -0.1613...","[0.10671248, -0.04963641, 0.1442783, -0.199256...",bose 27028 161 bookshelf pair speaker white - ...,"[0.06692042, -0.056180872, 0.11589646, -0.1613...",bose 27028 161 bookshelf pair speaker white - ...,bose 27028 161 bookshelf pair speaker white - ...
...,...,...,...,...,...,...,...,...,...
1071,1071,logitech cordless desktop wave keyboard and mo...,logitech cordless desktop wave keyboard and mo...,"[0.21860377, 0.0027080388, 0.05378431, -0.2168...","[0.160609, -0.00014261503, 0.07142856, -0.1722...",logitech cordless desktop wave keyboard mous c...,"[0.21860377, 0.0027080388, 0.05378431, -0.2168...",logitech cordless desktop wave keyboard mous c...,logitech cordless desktop wave keyboard mous c...
1072,1072,mitsubishi dlp black tv stand - mbs73v,mitsubishi dlp black tv stand - mbs73v/ matchi...,"[0.1530223, -0.0865994, 0.18004523, -0.1565259...","[0.15298949, -0.057856984, 0.18343177, -0.1704...",mitsubishi dlp black tv stand - mbs73v,"[0.1530223, -0.0865994, 0.18004523, -0.1565259...",mitsubishi dlp black tv stand - mbs73v/ match ...,mitsubishi dlp black tv stand - mbs73v/ match ...
1073,1073,logitech digital precision pc gaming headset -...,logitech digital precision pc gaming headset -...,"[0.07285367, -0.092380784, 0.11686462, -0.3193...","[0.08220116, -0.068440534, 0.103269644, -0.183...",logitech digit precis pc game headset - 981000...,"[0.07285367, -0.092380784, 0.11686462, -0.3193...",logitech digit precis pc game headset - 981000...,logitech digit precis pc game headset - 981000...
1074,1074,logitech 2.1 multimedia silver speaker system ...,logitech 2.1 multimedia silver speaker system ...,"[0.10419882, -0.14180012, 0.12205986, -0.15300...","[0.07379679, -0.10553623, 0.066771425, -0.1469...",logitech 2.1 multimedia silver speaker system ...,"[0.10419882, -0.14180012, 0.12205986, -0.15300...",logitech 2.1 multimedia silver speaker system ...,logitech 2.1 multimedia silver speaker system ...
1075,1075,linksys wireless-g range expander - wre54g,linksys wireless-g range expander - wre54g 99 ...,"[0.09371158, 0.022241695, 0.03507338, -0.26868...","[0.13491553, -0.02123408, 0.074819595, -0.1535...",linksi wireless-g rang expand - wre54g,"[0.09371158, 0.022241695, 0.03507338, -0.26868...",linksi wireless-g rang expand - wre54g 99 link...,linksi wireless-g rang expand - wre54g 99 link...

In [27]:
# buy dataset
d2B = pd.read_csv(main_dir + 'D2partB.csv', sep='|', engine='python')
d2B

,Id,Name,Aggregate Value
0,0,linksys etherfast ezxs88w ethernet switch - ez...,linksys etherfast ezxs88w ethernet switch - ez...
1,1,linksys etherfast ezxs55w ethernet switch,linksys etherfast ezxs55w ethernet switch 5 x ...
2,2,netgear prosafe fs105 ethernet switch - fs105na,netgear prosafe fs105 ethernet switch - fs105n...
3,3,belkin pro series high integrity vga/svga moni...,belkin pro series high integrity vga/svga moni...
4,4,netgear prosafe jfs516 ethernet switch,netgear prosafe jfs516 ethernet switch netgear...
...,...,...,...
1071,1071,sony vaio fw378j/b notebook - vgnfw378j/b,intel centrino 2 core 2 duo p8600 2.4ghz - 16....
1072,1072,sennheiser cx380 sennheiser cx 380 sport ii gr...,sennheiser cx380 sennheiser cx 380 sport ii gr...
1073,1073,iwork 09 retail-int dvd - mb942z/a,iwork 09 retail-int dvd - mb942z/a
1074,1074,iwork 09 family pack-int dvd - mb943z/a,iwork 09 family pack-int dvd - mb943z/a
1075,1075,case mate carbon fiber iphone 3g case black - ...,28.08 case mate carbon fiber iphone 3g case bl...

In [28]:
d2B['Embedded Name'] = d2B.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d2B['Embedded Ag.Value'] = d2B.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [29]:
d2B['Clean Name'] = d2B.apply(lambda row : cleanSentence(row['Name']), axis = 1)
d2B['Embedded Clean Name'] = d2B.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d2B['Clean Ag.Value'] = d2B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d2B['Embedded Clean Ag.Value'] = d2B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d2B

,Id,Name,Aggregate Value,Embedded Name,Embedded Ag.Value,Clean Name,Embedded Clean Name,Clean Ag.Value,Embedded Clean Ag.Value
0,0,linksys etherfast ezxs88w ethernet switch - ez...,linksys etherfast ezxs88w ethernet switch - ez...,"[-0.014166519, -0.051065046, -0.0021306914, -0...","[0.07739764, -0.05004612, 0.0017441344, -0.231...",linksi etherfast ezxs88w ethernet switch - ezx...,"[-0.014166519, -0.051065046, -0.0021306914, -0...",linksi etherfast ezxs88w ethernet switch - ezx...,linksi etherfast ezxs88w ethernet switch - ezx...
1,1,linksys etherfast ezxs55w ethernet switch,linksys etherfast ezxs55w ethernet switch 5 x ...,"[0.021874452, -0.072557904, -0.031837583, -0.2...","[0.06784031, -0.06760828, -0.056338865, -0.157...",linksi etherfast ezxs55w ethernet switch,"[0.021874452, -0.072557904, -0.031837583, -0.2...",linksi etherfast ezxs55w ethernet switch 5 x 1...,linksi etherfast ezxs55w ethernet switch 5 x 1...
2,2,netgear prosafe fs105 ethernet switch - fs105na,netgear prosafe fs105 ethernet switch - fs105n...,"[0.003323523, -0.085925266, -0.012892537, -0.1...","[0.11376974, -0.054613467, -0.0065593245, -0.1...",netgear prosaf fs105 ethernet switch - fs105na,"[0.003323523, -0.085925266, -0.012892537, -0.1...",netgear prosaf fs105 ethernet switch - fs105na...,netgear prosaf fs105 ethernet switch - fs105na...
3,3,belkin pro series high integrity vga/svga moni...,belkin pro series high integrity vga/svga moni...,"[0.115773395, -0.11332667, 0.115118496, -0.163...","[0.067518644, -0.013519631, 0.08172616, -0.135...",belkin pro seri high integr vga/svga monitor e...,"[0.115773395, -0.11332667, 0.115118496, -0.163...",belkin pro seri high integr vga/svga monitor e...,belkin pro seri high integr vga/svga monitor e...
4,4,netgear prosafe jfs516 ethernet switch,netgear prosafe jfs516 ethernet switch netgear...,"[0.008042693, -0.100945786, -0.062033165, -0.2...","[0.09392333, -0.045609348, -0.068785176, -0.18...",netgear prosaf jfs516 ethernet switch,"[0.008042693, -0.100945786, -0.062033165, -0.2...",netgear prosaf jfs516 ethernet switch netgear ...,netgear prosaf jfs516 ethernet switch netgear ...
...,...,...,...,...,...,...,...,...,...
1071,1071,sony vaio fw378j/b notebook - vgnfw378j/b,intel centrino 2 core 2 duo p8600 2.4ghz - 16....,"[-0.09222895, 0.04058216, 0.02458141, -0.07322...","[0.049032725, -0.039070137, 0.08368141, -0.130...",soni vaio fw378j/b notebook - vgnfw378j/b,"[-0.09222895, 0.04058216, 0.02458141, -0.07322...",intel centrino 2 core 2 duo p8600 2.4ghz - 16....,intel centrino 2 core 2 duo p8600 2.4ghz - 16....
1072,1072,sennheiser cx380 sennheiser cx 380 sport ii gr...,sennheiser cx380 sennheiser cx 380 sport ii gr...,"[0.1714229, -0.00029301643, 0.12738901, -0.089...","[0.1714229, -0.00029301643, 0.12738901, -0.089...",sennheis cx380 sennheis cx 380 sport ii grey/o...,"[0.1714229, -0.00029301643, 0.12738901, -0.089...",sennheis cx380 sennheis cx 380 sport ii grey/o...,sennheis cx380 sennheis cx 380 sport ii grey/o...
1073,1073,iwork 09 retail-int dvd - mb942z/a,iwork 09 retail-int dvd - mb942z/a,"[-0.038167346, 0.008706098, 0.079036884, -0.12...","[-0.038167346, 0.008706098, 0.079036884, -0.12...",iwork 09 retail-int dvd - mb942z/a,"[-0.038167346, 0.008706098, 0.079036884, -0.12...",iwork 09 retail-int dvd - mb942z/a,iwork 09 retail-int dvd - mb942z/a
1074,1074,iwork 09 family pack-int dvd - mb943z/a,iwork 09 family pack-int dvd - mb943z/a,"[0.0004288932, 0.0042694984, 0.059788328, -0.1...","[0.0004288932, 0.0042694984, 0.059788328, -0.1...",iwork 09 famili pack-int dvd - mb943z/a,"[0.0004288932, 0.0042694984, 0.059788328, -0.1...",iwork 09 famili pack-int dvd - mb943z/a,iwork 09 famili pack-int dvd - mb943z/a
1075,1075,case mate carbon fiber iphone 3g case black - ...,28.08 case mate carbon fiber iphone 3g case bl...,"[-0.09396364, -0.025314048, 0.104385495, -0.03...","[-0.07873395, -0.02366855, 0.09289185, -0.0290...",case mate carbon fiber iphon 3g case black - i...,"[-0.09396364, -0.025314048, 0.104385495, -0.03...",28.08 case mate carbon fiber iphon 3g case bla...,28.08 case mate carbon fiber iphon 3g case bla...

In [30]:
d2groundtruth = pd.read_csv(main_dir + 'D2groundtruth.csv', sep='|', engine='python')
d2groundtruth

      EntityFromPartA  EntityFromPartB
0                 206              216
1                  60               46
2                 182              160
3                 428              223
4                 816              789
...               ...              ...
1071                9              176
1072              279              297
1073              776                6
1074             1010             1066
1075              547              583

[1076 rows x 2 columns]

In [31]:
# amazon dataset
d3A = pd.read_csv(main_dir + 'D3partA.csv', sep='#', engine='python')
d3A

,Id,Title,Aggregate Value
0,1076,clickart 950 000 - premier image pack (dvd-rom),broderbund 0 clickart 950 000 - premier image ...
1,1077,ca international - arcserve lap/desktop oem 30pk,ca international - arcserve lap/desktop oem 30...
2,1078,noah's ark activity center (jewel case ages 3-8),0 noah's ark activity center (jewel case ages ...
3,1079,peachtree by sage premium accounting for nonpr...,sage software peachtree by sage premium accoun...
4,1080,singing coach unlimited,singing coach unlimited 99.99 singing coach un...
...,...,...,...
1349,2425,flash remoting 1 alp ret eng cd 2u,3314.09 adobe flash remoting 1 alp ret eng cd ...
1350,2426,shapes,shapes school zone 9.99
1351,2427,dragon naturally speaking standard v9,dragon naturallyspeaking 9 (standard edition) ...
1352,2428,mediarecover,29.99 mediarecover aladdin systems mediarecove...
1353,2429,photo explosion 3.0,nova development 29.99 photo explosion 3.0 pho...

In [32]:
d3A['Embedded Title'] = d3A.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d3A['Embedded Ag.Value'] = d3A.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [33]:
d3A['Clean Title'] = d3A.apply(lambda row : cleanSentence(row['Title']), axis = 1)
d3A['Embedded Clean Title'] = d3A.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d3A['Clean Ag.Value'] = d3A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d3A['Embedded Clean Ag.Value'] = d3A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d3A

,Id,Title,Aggregate Value,Embedded Title,Embedded Ag.Value,Clean Title,Embedded Clean Title,Clean Ag.Value,Embedded Clean Ag.Value
0,1076,clickart 950 000 - premier image pack (dvd-rom),broderbund 0 clickart 950 000 - premier image ...,"[0.10878998, -0.0695672, -0.039750077, -0.0874...","[0.09375446, -0.051886458, -0.034739085, -0.08...",clickart 950 000 - premier imag pack ( dvd-rom ),"[0.10878998, -0.0695672, -0.039750077, -0.0874...",broderbund 0 clickart 950 000 - premier imag p...,broderbund 0 clickart 950 000 - premier imag p...
1,1077,ca international - arcserve lap/desktop oem 30pk,ca international - arcserve lap/desktop oem 30...,"[0.25914207, -0.08817073, 0.12879016, -0.16774...","[0.15472175, -0.032231946, 0.14949118, -0.1583...",ca intern - arcserv lap/desktop oem 30pk,"[0.25914207, -0.08817073, 0.12879016, -0.16774...",ca intern - arcserv lap/desktop oem 30pk oem a...,ca intern - arcserv lap/desktop oem 30pk oem a...
2,1078,noah's ark activity center (jewel case ages 3-8),0 noah's ark activity center (jewel case ages ...,"[0.052536596, 0.004407832, 0.11782917, -0.1789...","[0.09035023, -0.011368915, 0.114817984, -0.162...",noah 's ark activ center ( jewel case age 3-8 ),"[0.052536596, 0.004407832, 0.11782917, -0.1789...",0 noah 's ark activ center ( jewel case age 3-...,0 noah 's ark activ center ( jewel case age 3-...
3,1079,peachtree by sage premium accounting for nonpr...,sage software peachtree by sage premium accoun...,"[0.12819134, 0.043836564, 0.10919663, -0.21264...","[0.13972335, 0.0023605167, 0.17220399, -0.2233...",peachtre sage premium account nonprofit 2007,"[0.12819134, 0.043836564, 0.10919663, -0.21264...",sage softwar peachtre sage premium account non...,sage softwar peachtre sage premium account non...
4,1080,singing coach unlimited,singing coach unlimited 99.99 singing coach un...,"[0.0048239925, -0.02865503, 0.044975713, -0.14...","[0.09459165, -0.039409015, 0.050408386, -0.180...",sing coach unlimit,"[0.0048239925, -0.02865503, 0.044975713, -0.14...",sing coach unlimit 99.99 sing coach unlimit - ...,sing coach unlimit 99.99 sing coach unlimit - ...
...,...,...,...,...,...,...,...,...,...
1349,2425,flash remoting 1 alp ret eng cd 2u,3314.09 adobe flash remoting 1 alp ret eng cd ...,"[0.023488425, 0.032306578, -0.01985607, -0.014...","[0.2113915, -0.044877633, 0.16163887, -0.22441...",flash remot 1 alp ret eng cd 2u,"[0.023488425, 0.032306578, -0.01985607, -0.014...",3314.09 adob flash remot 1 alp ret eng cd 2u -...,3314.09 adob flash remot 1 alp ret eng cd 2u -...
1350,2426,shapes,shapes school zone 9.99,"[0.18455032, 0.031466037, 0.2496099, -0.165184...","[0.16168548, 0.067213334, 0.18455558, -0.18078...",shape,"[0.18455032, 0.031466037, 0.2496099, -0.165184...",shape school zone 9.99,shape school zone 9.99
1351,2427,dragon naturally speaking standard v9,dragon naturallyspeaking 9 (standard edition) ...,"[0.306593, -0.14764147, 0.054050505, -0.265845...","[0.17123331, -0.0225528, 0.18711224, -0.201374...",dragon natur speak standard v9,"[0.306593, -0.14764147, 0.054050505, -0.265845...",dragon naturallyspeak 9 ( standard edit ) give...,dragon naturallyspeak 9 ( standard edit ) give...
1352,2428,mediarecover,29.99 mediarecover aladdin systems mediarecove...,"[0.22376765, 0.20630294, 0.2853159, -0.2775670...","[0.1250054, 0.08242474, 0.2154946, -0.16996191...",mediarecov,"[0.22376765, 0.20630294, 0.2853159, -0.2775670...",29.99 mediarecov aladdin system mediarecov giv...,29.99 mediarecov aladdin system mediarecov giv...
1353,2429,photo explosion 3.0,nova development 29.99 photo explosion 3.0 pho...,"[-0.07871701, 0.05160201, -0.14553878, 0.09242...","[0.012330055, 0.014842424, -0.07878365, -0.009...",photo explos 3.0,"[-0.07871701, 0.05160201, -0.14553878, 0.09242...",nova develop 29.99 photo explos 3.0 photo expl...,nova develop 29.99 photo explos 3.0 photo expl...

In [34]:
# google-products dataset
d3B = pd.read_csv(main_dir + 'D3partB.csv', sep='#', engine='python')
d3B

,Id,Title,Aggregate Value
0,0,learning quickbooks 2007,38.99 learning quickbooks 2007 learning quickb...
1,1,superstart! fun with reading & writing!,superstart! fun with reading & writing! 8.49 f...
2,2,qb pos 6.0 basic software,637.99 qb pos 6.0 basic software qb pos 6.0 ba...
3,3,math missions: the amazing arcade adventure (g...,12.95 save spectacle city by disrupting randal...
4,4,production prem cs3 mac upgrad,805.99 adobe software adobe cs3 production pre...
...,...,...,...
3034,3034,jumpstart(r) advanced 1st grade,jumpstart(r) advanced 1st grade prepare your c...
3035,3035,ibm(r) viavoice(r) advanced edition 10,78.95 ibm viavoice advanced edition release 10...
3036,3036,xbox 360: gears of war,xbox 360: gears of war as marcus fenix you fig...
3037,3037,documents to go premium 7.0,this pda software enables you to use your docu...
3038,3038,microsoft(r) picture it! digital image pro 9.0,99.87 microsoft(r) picture it! digital image p...

In [35]:
d3B['Embedded Title'] = d3B.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d3B['Embedded Ag.Value'] = d3B.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [36]:
d3B['Clean Title'] = d3B.apply(lambda row : cleanSentence(row['Title']), axis = 1)
d3B['Embedded Clean Title'] = d3B.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d3B['Clean Ag.Value'] = d3B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d3B['Embedded Clean Ag.Value'] = d3B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d3B

,Id,Title,Aggregate Value,Embedded Title,Embedded Ag.Value,Clean Title,Embedded Clean Title,Clean Ag.Value,Embedded Clean Ag.Value
0,0,learning quickbooks 2007,38.99 learning quickbooks 2007 learning quickb...,"[0.15643728, 0.051368505, 0.18600273, -0.35016...","[0.18363759, 0.03786495, 0.11866266, -0.275095...",learn quickbook 2007,"[0.15643728, 0.051368505, 0.18600273, -0.35016...",38.99 learn quickbook 2007 learn quickbook 200...,38.99 learn quickbook 2007 learn quickbook 200...
1,1,superstart! fun with reading & writing!,superstart! fun with reading & writing! 8.49 f...,"[0.21997163, 0.11440755, 0.22687703, -0.088399...","[0.21300775, 0.053374387, 0.24340674, -0.15676...",superstart ! fun read & write !,"[0.21997163, 0.11440755, 0.22687703, -0.088399...",superstart ! fun read & write ! 8.49 fun read ...,superstart ! fun read & write ! 8.49 fun read ...
2,2,qb pos 6.0 basic software,637.99 qb pos 6.0 basic software qb pos 6.0 ba...,"[0.26033637, -0.09191081, 0.090700746, -0.1842...","[0.18868053, -0.047219805, 0.121871896, -0.237...",qb pos 6.0 basic softwar,"[0.26033637, -0.09191081, 0.090700746, -0.1842...",637.99 qb pos 6.0 basic softwar qb pos 6.0 bas...,637.99 qb pos 6.0 basic softwar qb pos 6.0 bas...
3,3,math missions: the amazing arcade adventure (g...,12.95 save spectacle city by disrupting randal...,"[0.16774717, 0.063363686, 0.16928296, -0.35937...","[0.14890991, -0.00032306995, 0.16784091, -0.22...",math mission : amaz arcad adventur ( grade 3-5 ),"[0.16774717, 0.063363686, 0.16928296, -0.35937...",12.95 save spectacl citi disrupt randal underl...,12.95 save spectacl citi disrupt randal underl...
4,4,production prem cs3 mac upgrad,805.99 adobe software adobe cs3 production pre...,"[0.21284597, -0.053558074, 0.042218994, -0.061...","[0.22776473, -0.10568784, 0.10815291, -0.15289...",product prem cs3 mac upgrad,"[0.21284597, -0.053558074, 0.042218994, -0.061...",805.99 adob softwar adob cs3 product premium m...,805.99 adob softwar adob cs3 product premium m...
...,...,...,...,...,...,...,...,...,...
3034,3034,jumpstart(r) advanced 1st grade,jumpstart(r) advanced 1st grade prepare your c...,"[0.14655443, -0.035939265, 0.06340096, -0.2772...","[0.15147571, -0.019279042, 0.18094705, -0.2865...",jumpstart ( r ) advanc 1st grade,"[0.14655443, -0.035939265, 0.06340096, -0.2772...",jumpstart ( r ) advanc 1st grade prepar child ...,jumpstart ( r ) advanc 1st grade prepar child ...
3035,3035,ibm(r) viavoice(r) advanced edition 10,78.95 ibm viavoice advanced edition release 10...,"[0.15232581, -0.14436406, 0.021166593, -0.2897...","[0.19994415, -0.13094416, 0.1403609, -0.260766...",ibm ( r ) viavoic ( r ) advanc edit 10,"[0.15232581, -0.14436406, 0.021166593, -0.2897...",78.95 ibm viavoic advanc edit releas 10 featur...,78.95 ibm viavoic advanc edit releas 10 featur...
3036,3036,xbox 360: gears of war,xbox 360: gears of war as marcus fenix you fig...,"[-0.005761534, -0.18922247, 0.120544076, -0.04...","[0.06907634, -0.052815836, 0.14685227, -0.1510...",xbox 360 : gear war,"[-0.005761534, -0.18922247, 0.120544076, -0.04...",xbox 360 : gear war marcus fenix fight war imm...,xbox 360 : gear war marcus fenix fight war imm...
3037,3037,documents to go premium 7.0,this pda software enables you to use your docu...,"[0.051253766, -0.07593826, 0.11244277, -0.0877...","[0.20049669, -0.032547925, 0.24858768, -0.1910...",document go premium 7.0,"[0.051253766, -0.07593826, 0.11244277, -0.0877...",pda softwar enabl use document word excel powe...,pda softwar enabl use document word excel powe...
3038,3038,microsoft(r) picture it! digital image pro 9.0,99.87 microsoft(r) picture it! digital image p...,"[0.088619344, -0.11217197, 0.13898028, -0.1162...","[0.11963581, -0.03972309, 0.17622428, -0.20718...",microsoft ( r ) pictur ! digit imag pro 9.0,"[0.088619344, -0.11217197, 0.13898028, -0.1162...",99.87 microsoft ( r ) pictur ! digit imag pro ...,99.87 microsoft ( r ) pictur ! digit imag pro ...

In [37]:
d3groundtruth = pd.read_csv(main_dir + 'D3groundtruth.csv', sep='#', engine='python')
d3groundtruth

      EntityFromPartA  EntityFromPartB
0                 650              233
1                 577              148
2                1286              697
3                1098             1965
4                 891             2763
...               ...              ...
1099              922              169
1100             1257             1040
1101             1160              897
1102              863              979
1103              592              943

[1104 rows x 2 columns]

In [38]:
# dblp dataset
d4A = pd.read_csv(main_dir + 'D4partA.csv', sep='%', engine='python')
d4A

,Id,Title,Aggregate Value
0,2430,semantic integration of environmental models f...,d. scott mackay 1999 semantic integration of e...
1,2431,estimation of query-result distribution and it...,estimation of query-result distribution and it...
2,2432,incremental maintenance for non-distributive a...,2002 vldb incremental maintenance for non-dist...
3,2433,cost-based selection of path expression proces...,cost-based selection of path expression proces...
4,2434,benchmarking spatial join operations with spat...,"vldb 1995 erik g. hoel, hanan samet benchmarki..."
...,...,...,...
2611,5041,a simple algorithm for finding frequent elemen...,"2003 scott shenker, christos h. papadimitriou,..."
2612,5042,sash: a self-adaptive histogram set for dynami...,2003 sash: a self-adaptive histogram set for d...
2613,5043,locally adaptive dimensionality reduction for ...,"kaushik chakrabarti, eamonn j. keogh, michael ..."
2614,5044,chair's message,2001 chair's message richard t. snodgrass sigm...
2615,5045,indexing and querying xml data for regular pat...,"2001 bongki moon, quanzhong li vldb indexing a..."

In [39]:
d4A['Embedded Title'] = d4A.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d4A['Embedded Ag.Value'] = d4A.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [40]:
d4A['Clean Title'] = d4A.apply(lambda row : cleanSentence(row['Title']), axis = 1)
d4A['Embedded Clean Title'] = d4A.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d4A['Clean Ag.Value'] = d4A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d4A['Embedded Clean Ag.Value'] = d4A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d4A

,Id,Title,Aggregate Value,Embedded Title,Embedded Ag.Value,Clean Title,Embedded Clean Title,Clean Ag.Value,Embedded Clean Ag.Value
0,2430,semantic integration of environmental models f...,d. scott mackay 1999 semantic integration of e...,"[0.18774153, -0.17557757, 0.33302847, -0.40904...","[0.13965651, -0.11643487, 0.24460466, -0.31460...",semant integr environment model applic global ...,"[0.18774153, -0.17557757, 0.33302847, -0.40904...",d. scott mackay 1999 semant integr environment...,d. scott mackay 1999 semant integr environment...
1,2431,estimation of query-result distribution and it...,estimation of query-result distribution and it...,"[0.14078535, -0.19512844, 0.20980813, -0.27120...","[0.16344677, -0.1348408, 0.12729296, -0.207189...",estim query-result distribut applic parallel-j...,"[0.14078535, -0.19512844, 0.20980813, -0.27120...",estim query-result distribut applic parallel-j...,estim query-result distribut applic parallel-j...
2,2432,incremental maintenance for non-distributive a...,2002 vldb incremental maintenance for non-dist...,"[0.23698105, -0.1599995, 0.4314398, -0.4170733...","[0.14918633, -0.05995311, 0.13808277, -0.15471...",increment mainten non-distribut aggreg function,"[0.23698105, -0.1599995, 0.4314398, -0.4170733...",2002 vldb increment mainten non-distribut aggr...,2002 vldb increment mainten non-distribut aggr...
3,2433,cost-based selection of path expression proces...,cost-based selection of path expression proces...,"[0.15472078, -0.06826528, 0.2552781, -0.344178...","[0.1493994, -0.068270035, 0.10130951, -0.23608...",cost-bas select path express process algorithm...,"[0.15472078, -0.06826528, 0.2552781, -0.344178...",cost-bas select path express process algorithm...,cost-bas select path express process algorithm...
4,2434,benchmarking spatial join operations with spat...,"vldb 1995 erik g. hoel, hanan samet benchmarki...","[0.34848812, -0.23668464, 0.098380044, -0.3050...","[0.15611574, -0.14559633, 0.087653, -0.2386567...",benchmark spatial join oper spatial output,"[0.34848812, -0.23668464, 0.098380044, -0.3050...","vldb 1995 erik g. hoel , hanan samet benchmark...","vldb 1995 erik g. hoel , hanan samet benchmark..."
...,...,...,...,...,...,...,...,...,...
2611,5041,a simple algorithm for finding frequent elemen...,"2003 scott shenker, christos h. papadimitriou,...","[0.14416721, -0.00086136296, 0.2074716, -0.199...","[0.087221585, -0.024458524, 0.14678808, -0.186...",simpl algorithm find frequent element stream bag,"[0.14416721, -0.00086136296, 0.2074716, -0.199...","2003 scott shenker , christo h. papadimitriou ...","2003 scott shenker , christo h. papadimitriou ..."
2612,5042,sash: a self-adaptive histogram set for dynami...,2003 sash: a self-adaptive histogram set for d...,"[0.10240466, -0.039197482, 0.21656461, -0.1974...","[0.08876726, -0.029325524, 0.025809415, -0.154...",sash : self-adapt histogram set dynam chang wo...,"[0.10240466, -0.039197482, 0.21656461, -0.1974...",2003 sash : self-adapt histogram set dynam cha...,2003 sash : self-adapt histogram set dynam cha...
2613,5043,locally adaptive dimensionality reduction for ...,"kaushik chakrabarti, eamonn j. keogh, michael ...","[0.1962935, -0.10082607, 0.2693708, -0.2244078...","[0.17446183, -0.08425074, 0.18952939, -0.17466...",local adapt dimension reduct index larg time s...,"[0.1962935, -0.10082607, 0.2693708, -0.2244078...","kaushik chakrabarti , eamonn j. keogh , michae...","kaushik chakrabarti , eamonn j. keogh , michae..."
2614,5044,chair's message,2001 chair's message richard t. snodgrass sigm...,"[0.12419506, 0.30566892, 0.025255445, -0.29715...","[0.03689409, 0.1340048, 0.10800692, -0.1660171...",chair 's messag,"[0.12419506, 0.30566892, 0.025255445, -0.29715...",2001 chair 's messag richard t. snodgrass sigm...,2001 chair 's messag richard t. snodgrass sigm...
2615,5045,indexing and querying xml data for regular pat...,"2001 bongki moon, quanzhong li vldb indexing a...","[0.12083292, -0.034031384, 0.2662087, -0.27803...","[0.11040805, 0.0063082254, 0.077641234, -0.170...",index queri xml data regular path express,"[0.12083292, -0.034031384, 0.2662087, -0.27803...","2001 bongki moon , quanzhong li vldb index que...","2001 bongki moon , quanzhong li vldb index que..."

In [41]:
# acm dataset
d4B = pd.read_csv(main_dir + 'D4partB.csv', sep='%', engine='python')
d4B

,Id,Title,Aggregate Value
0,0,the wasa2 object-oriented workflow management ...,1999 the wasa2 object-oriented workflow manage...
1,1,a user-centered interface for querying distrib...,"1999 isabel f. cruz, kimberly m. james a user-..."
2,2,"world wide database-integrating the web, corba...","1999 athman bouguettaya, boualem benatallah, l..."
3,3,xml-based information mediation with mix,1999 international conference on management of...
4,4,the ccube constraint object-oriented database ...,1999 international conference on management of...
...,...,...,...
2289,2289,dual-buffering strategies in object bases,very large data bases dual-buffering strategie...
2290,2290,guest editorial,"2003 philip a. bernstein, yannis ioannidis, ra..."
2291,2291,graphdb: modeling and querying graphs in datab...,very large data bases graphdb: modeling and qu...
2292,2292,review of the data warehouse toolkit: the comp...,2003 acm sigmod record alexander a. anisimov r...
2293,2293,bulk loading into an oodb: a performance study,very large data bases bulk loading into an ood...

In [42]:
d4B['Embedded Title'] = d4B.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d4B['Embedded Ag.Value'] = d4B.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [43]:
d4B['Clean Title'] = d4B.apply(lambda row : cleanSentence(row['Title']), axis = 1)
d4B['Embedded Clean Title'] = d4B.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d4B['Clean Ag.Value'] = d4B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d4B['Embedded Clean Ag.Value'] = d4B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d4B

,Id,Title,Aggregate Value,Embedded Title,Embedded Ag.Value,Clean Title,Embedded Clean Title,Clean Ag.Value,Embedded Clean Ag.Value
0,0,the wasa2 object-oriented workflow management ...,1999 the wasa2 object-oriented workflow manage...,"[0.30699012, -0.16422255, 0.20092948, -0.21596...","[0.20079209, -0.07441646, 0.1317767, -0.261142...",wasa2 object-ori workflow manag system,"[0.30699012, -0.16422255, 0.20092948, -0.21596...",1999 wasa2 object-ori workflow manag system in...,1999 wasa2 object-ori workflow manag system in...
1,1,a user-centered interface for querying distrib...,"1999 isabel f. cruz, kimberly m. james a user-...","[0.25060797, -0.12043008, 0.28140813, -0.28965...","[0.09862023, -0.041490734, 0.14238764, -0.2361...",user-cent interfac queri distribut multimedia ...,"[0.25060797, -0.12043008, 0.28140813, -0.28965...","1999 isabel f. cruz , kimber m. jame user-cent...","1999 isabel f. cruz , kimber m. jame user-cent..."
2,2,"world wide database-integrating the web, corba...","1999 athman bouguettaya, boualem benatallah, l...","[0.2138507, -0.06624187, 0.22939625, -0.140623...","[0.15452255, -0.010537977, 0.0073804935, -0.10...","world wide database-integr web , corba databas","[0.2138507, -0.06624187, 0.22939625, -0.140623...","1999 athman bouguettaya , boualem benatallah ,...","1999 athman bouguettaya , boualem benatallah ,..."
3,3,xml-based information mediation with mix,1999 international conference on management of...,"[0.08695039, -0.12463536, 0.16413021, -0.23660...","[0.02450972, -0.019518623, -0.025098952, -0.14...",xml-base inform mediat mix,"[0.08695039, -0.12463536, 0.16413021, -0.23660...",1999 intern confer manag data xml-base inform ...,1999 intern confer manag data xml-base inform ...
4,4,the ccube constraint object-oriented database ...,1999 international conference on management of...,"[0.20439911, -0.248488, 0.29388848, -0.2383884...","[0.13153115, -0.071176045, 0.1204553, -0.17826...",ccube constraint object-ori databas system,"[0.20439911, -0.248488, 0.29388848, -0.2383884...",1999 intern confer manag data ccube constraint...,1999 intern confer manag data ccube constraint...
...,...,...,...,...,...,...,...,...,...
2289,2289,dual-buffering strategies in object bases,very large data bases dual-buffering strategie...,"[0.2336235, -0.17066005, 0.13366595, -0.262644...","[0.13706258, -0.058752082, 0.10050113, -0.2821...",dual-buff strategi object base,"[0.2336235, -0.17066005, 0.13366595, -0.262644...",larg data base dual-buff strategi object base ...,larg data base dual-buff strategi object base ...
2290,2290,guest editorial,"2003 philip a. bernstein, yannis ioannidis, ra...","[0.11913348, -0.118895486, 0.4212999, 0.001153...","[0.1319819, -0.10812821, 0.038814053, -0.17506...",guest editori,"[0.11913348, -0.118895486, 0.4212999, 0.001153...","2003 philip a. bernstein , yanni ioannidi , ra...","2003 philip a. bernstein , yanni ioannidi , ra..."
2291,2291,graphdb: modeling and querying graphs in datab...,very large data bases graphdb: modeling and qu...,"[0.17429957, -0.009702836, 0.2674038, -0.35160...","[0.17974152, -0.04059333, 0.12661192, -0.31597...",graphdb : model queri graph databas,"[0.17429957, -0.009702836, 0.2674038, -0.35160...",larg data base graphdb : model queri graph dat...,larg data base graphdb : model queri graph dat...
2292,2292,review of the data warehouse toolkit: the comp...,2003 acm sigmod record alexander a. anisimov r...,"[0.108020544, -0.03135592, 0.1535201, -0.21147...","[0.076507166, -0.039841853, 0.153861, -0.21209...",review data warehous toolkit : complet guid di...,"[0.108020544, -0.03135592, 0.1535201, -0.21147...",2003 acm sigmod record alexand a. anisimov rev...,2003 acm sigmod record alexand a. anisimov rev...
2293,2293,bulk loading into an oodb: a performance study,very large data bases bulk loading into an ood...,"[0.0892495, -0.06669679, 0.098123655, -0.26538...","[0.110885665, -0.0675008, 0.06658002, -0.25638...",bulk load oodb : perform studi,"[0.0892495, -0.06669679, 0.098123655, -0.26538...",larg data base bulk load oodb : perform studi ...,larg data base bulk load oodb : perform studi ...

In [44]:
d4groundtruth = pd.read_csv(main_dir + 'D4groundtruth.csv', sep='%', engine='python')
d4groundtruth

      EntityFromPartA  EntityFromPartB
0                1821             1345
1                1518             1917
2                1863             1952
3                  47             1133
4                1835              184
...               ...              ...
2219             1415             2255
2220             1918             1469
2221              640             1050
2222             1867             1610
2223             2178              372

[2224 rows x 2 columns]

In [45]:
# imdb dataset
d5A = pd.read_csv(main_dir + 'D5partA.csv', sep='|', engine='python')
d5A

        Id             Name                                    Aggregate Value
0        0       edmon ryan             actor 1984-01-01 1905-01-01 edmon ryan
1        1    steve forrest          actor 2013-01-01 steve forrest 1925-01-01
2        2              NaN  gar ho yuet yuen 44 2008-01-01 gar ho yuet yue...
3        3    albert banzon  albert banzon camera_department,cinematographe...
4        4              NaN    2017-01-01 55 0 drama 6 chapter 58 5 chapter 58
...    ...              ...                                                ...
5113  5113              NaN  1 21 0 the works, in wax animation,comedy,fant...
5114  5114  evgeniy tsymbal   1949-01-01 director,actor,writer evgeniy tsymbal
5115  5115              NaN  1 42 drama,family,reality-tv 0 2018-01-01 mile...
5116  5116  g?rard lartigau        g?rard lartigau 2014-01-01 actor 1942-01-01
5117  5117              NaN  30 hapless holiday 30 0 hapless holiday drama ...

[5118 rows x 3 columns]

In [48]:
d5A['Name'] = d5A['Name'].astype(str)
d5A['Aggregate Value'] = d5A['Aggregate Value'].astype(str)
d5A['Embedded Name'] = d5A.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d5A['Embedded Ag.Value'] = d5A.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [49]:
d5A['Clean Name'] = d5A.apply(lambda row : cleanSentence(row['Name']), axis = 1)
d5A['Embedded Clean Name'] = d5A.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d5A['Clean Ag.Value'] = d5A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d5A['Embedded Clean Ag.Value'] = d5A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d5A

,Id,Name,Aggregate Value,Embedded Name,Embedded Ag.Value,Clean Name,Embedded Clean Name,Clean Ag.Value,Embedded Clean Ag.Value
0,0,edmon ryan,actor 1984-01-01 1905-01-01 edmon ryan,"[0.012583144, 0.0007575471, -0.004482571, 0.14...","[-0.0074647665, 0.018453494, 0.02260021, 0.018...",edmon ryan,"[0.012583144, 0.0007575471, -0.004482571, 0.14...",actor 1984-01-01 1905-01-01 edmon ryan,actor 1984-01-01 1905-01-01 edmon ryan
1,1,steve forrest,actor 2013-01-01 steve forrest 1925-01-01,"[0.16957715, -0.005464416, 0.091207065, -0.072...","[0.05307583, 0.014419566, 0.059152693, -0.0762...",steve forrest,"[0.16957715, -0.005464416, 0.091207065, -0.072...",actor 2013-01-01 steve forrest 1925-01-01,actor 2013-01-01 steve forrest 1925-01-01
2,2,nan,gar ho yuet yuen 44 2008-01-01 gar ho yuet yue...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.08405057, 0.082208164, -0.26392356, 0.09343...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",gar ho yuet yuen 44 2008-01-01 gar ho yuet yue...,gar ho yuet yuen 44 2008-01-01 gar ho yuet yue...
3,3,albert banzon,"albert banzon camera_department,cinematographe...","[-0.12483093, 0.05590748, -0.1804331, 0.023455...","[-0.0014686435, 0.004131759, -0.06881838, -0.0...",albert banzon,"[-0.12483093, 0.05590748, -0.1804331, 0.023455...","albert banzon camera_depart , cinematograph , ...","albert banzon camera_depart , cinematograph , ..."
4,4,nan,2017-01-01 55 0 drama 6 chapter 58 5 chapter 58,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.04753988, -0.03954432, 0.07039742, 0.036927...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",2017-01-01 55 0 drama 6 chapter 58 5 chapter 58,2017-01-01 55 0 drama 6 chapter 58 5 chapter 58
...,...,...,...,...,...,...,...,...,...
5113,5113,nan,"1 21 0 the works, in wax animation,comedy,fant...","[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.079834476, -0.007463399, 0.066878796, -0.16...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...","1 21 0 work , wax anim , comedi , fantasi 5 19...","1 21 0 work , wax anim , comedi , fantasi 5 19..."
5114,5114,evgeniy tsymbal,"1949-01-01 director,actor,writer evgeniy tsymbal","[0.077525415, -0.128627, 0.0049426444, 0.16164...","[0.10658643, -0.10925754, 0.01640322, 0.010267...",evgeniy tsymbal,"[0.077525415, -0.128627, 0.0049426444, 0.16164...","1949-01-01 director , actor , writer evgeniy t...","1949-01-01 director , actor , writer evgeniy t..."
5115,5115,nan,"1 42 drama,family,reality-tv 0 2018-01-01 mile...","[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.07416124, 0.1075102, 0.1913115, -0.16208202...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...","1 42 drama , famili , reality-tv 0 2018-01-01 ...","1 42 drama , famili , reality-tv 0 2018-01-01 ..."
5116,5116,g?rard lartigau,g?rard lartigau 2014-01-01 actor 1942-01-01,"[0.23441052, -0.033346392, 0.15997966, -0.1303...","[0.103212364, -0.0024964663, 0.10024419, -0.10...",g ? rard lartigau,"[0.23441052, -0.033346392, 0.15997966, -0.1303...",g ? rard lartigau 2014-01-01 actor 1942-01-01,g ? rard lartigau 2014-01-01 actor 1942-01-01
5117,5117,nan,30 hapless holiday 30 0 hapless holiday drama ...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[-0.005437742, 0.1240443, 0.037097655, -0.1257...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",30 hapless holiday 30 0 hapless holiday drama ...,30 hapless holiday 30 0 hapless holiday drama ...

In [50]:
# tmdb dataset
d5B = pd.read_csv(main_dir + 'D5partB.csv', sep='|', engine='python')
d5B

,Id,Name,Aggregate Value
0,0,ola forssmed,ola forssmed 2
1,1,rikiya koyama,2 rikiya koyama
2,2,NaN,1995-01-01 hate crimes 1995-11-17 5 pembleton ...
3,3,william aldridge,william aldridge 0
4,4,NaN,1958-03-16 20 5 windfall 1958-01-01
...,...,...,...
6051,6051,edwin sherin,edwin sherin 2 directing
6052,6052,NaN,"1984-01-01 english, fran?ais, deutsch 1984-10-..."
6053,6053,NaN,???????? ????? 1988-01-02 p?????? defence coun...
6054,6054,NaN,"it prior to a city council election, the colla..."
6055,6055,NaN,bradley cooper 1 2009-05-26 'zach chats with b...

In [52]:
d5B['Name'] = d5B['Name'].astype(str)
d5B['Aggregate Value'] = d5B['Aggregate Value'].astype(str)
d5B['Embedded Name'] = d5B.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d5B['Embedded Ag.Value'] = d5B.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [53]:
d5B['Clean Name'] = d5B.apply(lambda row : cleanSentence(row['Name']), axis = 1)
d5B['Embedded Clean Name'] = d5B.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d5B['Clean Ag.Value'] = d5B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d5B['Embedded Clean Ag.Value'] = d5B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d5B

,Id,Name,Aggregate Value,Embedded Name,Embedded Ag.Value,Clean Name,Embedded Clean Name,Clean Ag.Value,Embedded Clean Ag.Value
0,0,ola forssmed,ola forssmed 2,"[0.13122322, -0.15292463, -0.09161265, -0.7662...","[0.087499924, -0.10260761, -0.06061678, -0.509...",ola forssm,"[0.13122322, -0.15292463, -0.09161265, -0.7662...",ola forssm 2,ola forssm 2
1,1,rikiya koyama,2 rikiya koyama,"[0.2698847, -0.111488566, -0.057613626, -0.051...","[0.17994092, -0.07498357, -0.037950765, -0.033...",rikiya koyama,"[0.2698847, -0.111488566, -0.057613626, -0.051...",2 rikiya koyama,2 rikiya koyama
2,2,nan,1995-01-01 hate crimes 1995-11-17 5 pembleton ...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.08167939, -0.0664224, 0.10345944, -0.193195...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",1995-01-01 hate crime 1995-11-17 5 pembleton b...,1995-01-01 hate crime 1995-11-17 5 pembleton b...
3,3,william aldridge,william aldridge 0,"[-0.21693656, 0.17280808, -0.16155514, -0.0724...","[-0.14504763, 0.11627174, -0.10770141, -0.0480...",william aldridg,"[-0.21693656, 0.17280808, -0.16155514, -0.0724...",william aldridg 0,william aldridg 0
4,4,nan,1958-03-16 20 5 windfall 1958-01-01,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.071139425, -0.0049262517, 0.057880264, -0.0...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",1958-03-16 20 5 windfal 1958-01-01,1958-03-16 20 5 windfal 1958-01-01
...,...,...,...,...,...,...,...,...,...
6051,6051,edwin sherin,edwin sherin 2 directing,"[0.15063906, -0.09433158, -0.081883535, 0.3353...","[0.080273874, -0.09694439, 0.08345318, 0.09595...",edwin sherin,"[0.15063906, -0.09433158, -0.081883535, 0.3353...",edwin sherin 2 direct,edwin sherin 2 direct
6052,6052,nan,"1984-01-01 english, fran?ais, deutsch 1984-10-...","[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.013433869, -0.061020438, 0.02994157, -0.138...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...","1984-01-01 english , fran ? ai , deutsch 1984-...","1984-01-01 english , fran ? ai , deutsch 1984-..."
6053,6053,nan,???????? ????? 1988-01-02 p?????? defence coun...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.067226, -0.025030514, 0.12599029, -0.162330...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",? ? ? ? ? ? ? ? ? ? ? ? ? 1988-01-02 p ? ? ? ?...,? ? ? ? ? ? ? ? ? ? ? ? ? 1988-01-02 p ? ? ? ?...
6054,6054,nan,"it prior to a city council election, the colla...","[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.12001382, -0.00043875971, 0.08987133, -0.12...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...","prior citi council elect , collaps build leav ...","prior citi council elect , collaps build leav ..."
6055,6055,nan,bradley cooper 1 2009-05-26 'zach chats with b...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[-0.030059675, -0.0049542463, -0.005477255, -0...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",bradley cooper 1 2009-05-26 zach chat bradley ...,bradley cooper 1 2009-05-26 zach chat bradley ...

In [54]:
d5groundtruth = pd.read_csv(main_dir + 'D5groundtruth.csv', sep='|', engine='python')
d5groundtruth

      EntityFromPartA  EntityFromPartB
0                2393             3017
1                3045             2152
2                4339             5340
3                1860             2203
4                 126             2765
...               ...              ...
1963             2275             4606
1964             1488              300
1965             1584             4623
1966             1962             6018
1967             2719              527

[1968 rows x 2 columns]

In [55]:
# imdb dataset
d6A = pd.read_csv(main_dir + 'D6partA.csv', sep='|', engine='python')
d6A

,Id,Name,Aggregate Value
0,5118,edmon ryan,actor 1984-01-01 1905-01-01 edmon ryan
1,5119,steve forrest,actor 2013-01-01 steve forrest 1925-01-01
2,5120,NaN,gar ho yuet yuen 44 2008-01-01 gar ho yuet yue...
3,5121,albert banzon,"albert banzon camera_department,cinematographe..."
4,5122,NaN,2017-01-01 55 0 drama 6 chapter 58 5 chapter 58
...,...,...,...
5113,10231,NaN,"1 21 0 the works, in wax animation,comedy,fant..."
5114,10232,evgeniy tsymbal,"1949-01-01 director,actor,writer evgeniy tsymbal"
5115,10233,NaN,"1 42 drama,family,reality-tv 0 2018-01-01 mile..."
5116,10234,g?rard lartigau,g?rard lartigau 2014-01-01 actor 1942-01-01
5117,10235,NaN,30 hapless holiday 30 0 hapless holiday drama ...

In [56]:
d6A['Name'] = d6A['Name'].astype(str)
d6A['Aggregate Value'] = d6A['Aggregate Value'].astype(str)
d6A['Embedded Name'] = d6A.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d6A['Embedded Ag.Value'] = d6A.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [57]:
d6A['Clean Name'] = d6A.apply(lambda row : cleanSentence(row['Name']), axis = 1)
d6A['Embedded Clean Name'] = d6A.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d6A['Clean Ag.Value'] = d6A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d6A['Embedded Clean Ag.Value'] = d6A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d6A

,Id,Name,Aggregate Value,Embedded Name,Embedded Ag.Value,Clean Name,Embedded Clean Name,Clean Ag.Value,Embedded Clean Ag.Value
0,5118,edmon ryan,actor 1984-01-01 1905-01-01 edmon ryan,"[0.012583144, 0.0007575471, -0.004482571, 0.14...","[-0.0074647665, 0.018453494, 0.02260021, 0.018...",edmon ryan,"[0.012583144, 0.0007575471, -0.004482571, 0.14...",actor 1984-01-01 1905-01-01 edmon ryan,actor 1984-01-01 1905-01-01 edmon ryan
1,5119,steve forrest,actor 2013-01-01 steve forrest 1925-01-01,"[0.16957715, -0.005464416, 0.091207065, -0.072...","[0.05307583, 0.014419566, 0.059152693, -0.0762...",steve forrest,"[0.16957715, -0.005464416, 0.091207065, -0.072...",actor 2013-01-01 steve forrest 1925-01-01,actor 2013-01-01 steve forrest 1925-01-01
2,5120,nan,gar ho yuet yuen 44 2008-01-01 gar ho yuet yue...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.08405057, 0.082208164, -0.26392356, 0.09343...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",gar ho yuet yuen 44 2008-01-01 gar ho yuet yue...,gar ho yuet yuen 44 2008-01-01 gar ho yuet yue...
3,5121,albert banzon,"albert banzon camera_department,cinematographe...","[-0.12483093, 0.05590748, -0.1804331, 0.023455...","[-0.0014686435, 0.004131759, -0.06881838, -0.0...",albert banzon,"[-0.12483093, 0.05590748, -0.1804331, 0.023455...","albert banzon camera_depart , cinematograph , ...","albert banzon camera_depart , cinematograph , ..."
4,5122,nan,2017-01-01 55 0 drama 6 chapter 58 5 chapter 58,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.04753988, -0.03954432, 0.07039742, 0.036927...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",2017-01-01 55 0 drama 6 chapter 58 5 chapter 58,2017-01-01 55 0 drama 6 chapter 58 5 chapter 58
...,...,...,...,...,...,...,...,...,...
5113,10231,nan,"1 21 0 the works, in wax animation,comedy,fant...","[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.079834476, -0.007463399, 0.066878796, -0.16...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...","1 21 0 work , wax anim , comedi , fantasi 5 19...","1 21 0 work , wax anim , comedi , fantasi 5 19..."
5114,10232,evgeniy tsymbal,"1949-01-01 director,actor,writer evgeniy tsymbal","[0.077525415, -0.128627, 0.0049426444, 0.16164...","[0.10658643, -0.10925754, 0.01640322, 0.010267...",evgeniy tsymbal,"[0.077525415, -0.128627, 0.0049426444, 0.16164...","1949-01-01 director , actor , writer evgeniy t...","1949-01-01 director , actor , writer evgeniy t..."
5115,10233,nan,"1 42 drama,family,reality-tv 0 2018-01-01 mile...","[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.07416124, 0.1075102, 0.1913115, -0.16208202...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...","1 42 drama , famili , reality-tv 0 2018-01-01 ...","1 42 drama , famili , reality-tv 0 2018-01-01 ..."
5116,10234,g?rard lartigau,g?rard lartigau 2014-01-01 actor 1942-01-01,"[0.23441052, -0.033346392, 0.15997966, -0.1303...","[0.103212364, -0.0024964663, 0.10024419, -0.10...",g ? rard lartigau,"[0.23441052, -0.033346392, 0.15997966, -0.1303...",g ? rard lartigau 2014-01-01 actor 1942-01-01,g ? rard lartigau 2014-01-01 actor 1942-01-01
5117,10235,nan,30 hapless holiday 30 0 hapless holiday drama ...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[-0.005437742, 0.1240443, 0.037097655, -0.1257...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",30 hapless holiday 30 0 hapless holiday drama ...,30 hapless holiday 30 0 hapless holiday drama ...

In [59]:
# tvdb dataset
d6B = pd.read_csv(main_dir + 'D6partB.csv', sep='|', engine='python')
d6B

        Id            Name                                    Aggregate Value
0        0             NaN  2 strange things have been happening, first du...
1        1             NaN  1 'john paul newman was a member of the new so...
2        2   debbie mcleod                           debbie mcleod gueststars
3        3   henry bromell                            directors henry bromell
4        4     noah plener                             noah plener gueststars
...    ...             ...                                                ...
7805  7805        paleface                                gueststars paleface
7806  7806             NaN  interviews: museum of television and radio, wi...
7807  7807     gwen murray                             gueststars gwen murray
7808  7808  estelle harris                          gueststars estelle harris
7809  7809     tom fontana                                writers tom fontana

[7810 rows x 3 columns]

In [60]:
d6B['Name'] = d6B['Name'].astype(str)
d6B['Aggregate Value'] = d6B['Aggregate Value'].astype(str)
d6B['Embedded Name'] = d6B.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d6B['Embedded Ag.Value'] = d6B.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [61]:
d6B['Clean Name'] = d6B.apply(lambda row : cleanSentence(row['Name']), axis = 1)
d6B['Embedded Clean Name'] = d6B.apply(lambda row : sentence_embedding(row['Name']), axis = 1)
d6B['Clean Ag.Value'] = d6B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d6B['Embedded Clean Ag.Value'] = d6B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d6B

,Id,Name,Aggregate Value,Embedded Name,Embedded Ag.Value,Clean Name,Embedded Clean Name,Clean Ag.Value,Embedded Clean Ag.Value
0,0,nan,"2 strange things have been happening, first du...","[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.117199525, 4.445066e-05, 0.07642895, -0.114...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...","2 strang thing happen , first duc chase two cr...","2 strang thing happen , first duc chase two cr..."
1,1,nan,1 'john paul newman was a member of the new so...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.072139755, -0.03258601, 0.07487759, -0.1465...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",1 john paul newman member new south wale state...,1 john paul newman member new south wale state...
2,2,debbie mcleod,debbie mcleod gueststars,"[-0.016254663, -0.058528826, -0.06987518, -0.0...","[0.07154314, -0.07629082, -0.11769467, -0.0401...",debbi mcleod,"[-0.016254663, -0.058528826, -0.06987518, -0.0...",debbi mcleod gueststar,debbi mcleod gueststar
3,3,henry bromell,directors henry bromell,"[0.03358978, 0.2036936, -0.07036348, -0.112631...","[0.16463669, 0.054503005, 0.06827197, -0.09973...",henri bromel,"[0.03358978, 0.2036936, -0.07036348, -0.112631...",director henri bromel,director henri bromel
4,4,noah plener,noah plener gueststars,"[0.12999383, 0.23105092, -0.02572029, -0.06330...","[0.16904213, 0.11676234, -0.088258065, -0.0286...",noah plener,"[0.12999383, 0.23105092, -0.02572029, -0.06330...",noah plener gueststar,noah plener gueststar
...,...,...,...,...,...,...,...,...,...
7805,7805,paleface,gueststars paleface,"[0.1356254, 0.0165084, -0.1332897, -0.18730587...","[0.19138208, -0.047653217, -0.17331167, -0.073...",palefac,"[0.1356254, 0.0165084, -0.1332897, -0.18730587...",gueststar palefac,gueststar palefac
7806,7806,nan,"interviews: museum of television and radio, wi...","[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.07436028, -0.09357404, -0.054116882, -0.131...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...","interview : museum televis radio , larri david...","interview : museum televis radio , larri david..."
7807,7807,gwen murray,gueststars gwen murray,"[0.15627497, -0.05234113, -0.38597018, 0.32337...","[0.1865629, -0.0721657, -0.32842466, 0.2291283...",gwen murray,"[0.15627497, -0.05234113, -0.38597018, 0.32337...",gueststar gwen murray,gueststar gwen murray
7808,7808,estelle harris,gueststars estelle harris,"[-0.06897106, -0.048285723, 0.05272124, -0.317...","[0.03639888, -0.06946209, -0.035963718, -0.198...",estell harri,"[-0.06897106, -0.048285723, 0.05272124, -0.317...",gueststar estell harri,gueststar estell harri
7809,7809,tom fontana,writers tom fontana,"[0.18135406, -0.050481696, -0.043201655, 0.090...","[0.16282082, -0.15794636, -0.0045560827, -0.07...",tom fontana,"[0.18135406, -0.050481696, -0.043201655, 0.090...",writer tom fontana,writer tom fontana

In [62]:
d6groundtruth = pd.read_csv(main_dir + 'D6groundtruth.csv', sep='|', engine='python')
d6groundtruth

      EntityFromPartA  EntityFromPartB
0                2275             4621
1                4289             3342
2                 292             5373
3                2920             2295
4                4729             3699
...               ...              ...
1067             3061             6946
1068             2771              308
1069              183             4169
1070                4             6738
1071             4811             7113

[1072 rows x 2 columns]

In [63]:
# tmdb dataset
d7A = pd.read_csv(main_dir + 'D7partA.csv', sep='|', engine='python')
d7A

,Id,Title,Aggregate Value
0,10236,NaN,ola forssmed 2
1,10237,NaN,2 rikiya koyama
2,10238,hate crimes,1995-01-01 hate crimes 1995-11-17 5 pembleton ...
3,10239,NaN,william aldridge 0
4,10240,windfall,1958-03-16 20 5 windfall 1958-01-01
...,...,...,...
6051,16287,NaN,edwin sherin 2 directing
6052,16288,marlene,"1984-01-01 english, fran?ais, deutsch 1984-10-..."
6053,16289,defence counsel sedov,???????? ????? 1988-01-02 p?????? defence coun...
6054,16290,hands over the city,"it prior to a city council election, the colla..."
6055,16291,bradley cooper,bradley cooper 1 2009-05-26 'zach chats with b...

In [65]:
d7A['Title'] = d7A['Title'].astype(str)
d7A['Aggregate Value'] = d7A['Aggregate Value'].astype(str)
d7A['Embedded Title'] = d7A.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d7A['Embedded Ag.Value'] = d7A.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [66]:
d7A['Clean Title'] = d7A.apply(lambda row : cleanSentence(row['Title']), axis = 1)
d7A['Embedded Clean Title'] = d7A.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d7A['Clean Ag.Value'] = d7A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d7A['Embedded Clean Ag.Value'] = d7A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d7A

,Id,Title,Aggregate Value,Embedded Title,Embedded Ag.Value,Clean Title,Embedded Clean Title,Clean Ag.Value,Embedded Clean Ag.Value
0,10236,nan,ola forssmed 2,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.087499924, -0.10260761, -0.06061678, -0.509...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",ola forssm 2,ola forssm 2
1,10237,nan,2 rikiya koyama,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.17994092, -0.07498357, -0.037950765, -0.033...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",2 rikiya koyama,2 rikiya koyama
2,10238,hate crimes,1995-01-01 hate crimes 1995-11-17 5 pembleton ...,"[0.17733692, -0.25655195, 0.28415453, -0.15814...","[0.08167939, -0.0664224, 0.10345944, -0.193195...",hate crime,"[0.17733692, -0.25655195, 0.28415453, -0.15814...",1995-01-01 hate crime 1995-11-17 5 pembleton b...,1995-01-01 hate crime 1995-11-17 5 pembleton b...
3,10239,nan,william aldridge 0,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[-0.14504763, 0.11627174, -0.10770141, -0.0480...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",william aldridg 0,william aldridg 0
4,10240,windfall,1958-03-16 20 5 windfall 1958-01-01,"[0.31568298, 0.012831729, 0.30136368, -0.24342...","[0.071139425, -0.0049262517, 0.057880264, -0.0...",windfal,"[0.31568298, 0.012831729, 0.30136368, -0.24342...",1958-03-16 20 5 windfal 1958-01-01,1958-03-16 20 5 windfal 1958-01-01
...,...,...,...,...,...,...,...,...,...
6051,16287,nan,edwin sherin 2 directing,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.080273874, -0.09694439, 0.08345318, 0.09595...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",edwin sherin 2 direct,edwin sherin 2 direct
6052,16288,marlene,"1984-01-01 english, fran?ais, deutsch 1984-10-...","[0.06666619, -0.17188963, -0.3125323, -0.39440...","[0.013433869, -0.061020438, 0.02994157, -0.138...",marlen,"[0.06666619, -0.17188963, -0.3125323, -0.39440...","1984-01-01 english , fran ? ai , deutsch 1984-...","1984-01-01 english , fran ? ai , deutsch 1984-..."
6053,16289,defence counsel sedov,???????? ????? 1988-01-02 p?????? defence coun...,"[0.20541893, -0.16331571, 0.117398225, -0.1424...","[0.067226, -0.025030514, 0.12599029, -0.162330...",defenc counsel sedov,"[0.20541893, -0.16331571, 0.117398225, -0.1424...",? ? ? ? ? ? ? ? ? ? ? ? ? 1988-01-02 p ? ? ? ?...,? ? ? ? ? ? ? ? ? ? ? ? ? 1988-01-02 p ? ? ? ?...
6054,16290,hands over the city,"it prior to a city council election, the colla...","[0.13530004, -0.016776819, -0.0001927875, -0.0...","[0.12001382, -0.00043875971, 0.08987133, -0.12...",hand citi,"[0.13530004, -0.016776819, -0.0001927875, -0.0...","prior citi council elect , collaps build leav ...","prior citi council elect , collaps build leav ..."
6055,16291,bradley cooper,bradley cooper 1 2009-05-26 'zach chats with b...,"[-0.16328111, 0.09007545, -0.1093929, -0.14825...","[-0.030059675, -0.0049542463, -0.005477255, -0...",bradley cooper,"[-0.16328111, 0.09007545, -0.1093929, -0.14825...",bradley cooper 1 2009-05-26 zach chat bradley ...,bradley cooper 1 2009-05-26 zach chat bradley ...

In [67]:
# tmdb dataset
d7B = pd.read_csv(main_dir + 'D8partB.csv', sep='|', engine='python')
d7B

,Id,Title,Aggregate Value
0,0,koss eq50 3-band stereo equalizer,152132 koss 7.6 x 4.8 x 1.4 inches 1 12.65 kos...
1,1,kodak black ink cartridge 10b 1163641,10.28 kodak black ink cartridge 10b 1163641 5....
2,2,kingston 128mx64 pc2700 compaq evo d320 ktc-d3...,kingston 128mx64 pc2700 compaq evo d320 ktc-d3...
3,3,kinamax ms-ues2 mini high precision usb 3-butt...,ms-ues2 kinamax ms-ues2 mini high precision us...
4,4,kensington k72349us wireless mouse for netbooks,kensington k72349us 24 4.1 x 3.2 x 1.5 inches ...
...,...,...,...
22069,22069,da-lite tripod skirt - projection screen skirt...,111.86 da-lite da-lite tripod skirt - projecti...
22070,22070,da-lite stand master i - cart for projector,da-lite i 329.95 29 da-lite stand master i - c...
22071,22071,da-lite model b with csr high power - projecti...,16 da-lite da-lite model b with csr high power...
22072,22072,link depot fan led fan 120mm green,fan-4led-120gn link depot 29.23 1 link depot f...
22073,22073,lenovo thinkpad business topload case - notebo...,14.6 x 14.4 x 7.0 inches 43r2476 40.89 lenovo ...

In [68]:
d7B['Title'] = d7B['Title'].astype(str)
d7B['Aggregate Value'] = d7B['Aggregate Value'].astype(str)
d7B['Embedded Title'] = d7B.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d7B['Embedded Ag.Value'] = d7B.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [69]:
d7B['Clean Title'] = d7B.apply(lambda row : cleanSentence(row['Title']), axis = 1)
d7B['Embedded Clean Title'] = d7B.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d7B['Clean Ag.Value'] = d7B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d7B['Embedded Clean Ag.Value'] = d7B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d7B

,Id,Title,Aggregate Value,Embedded Title,Embedded Ag.Value,Clean Title,Embedded Clean Title,Clean Ag.Value,Embedded Clean Ag.Value
0,0,koss eq50 3-band stereo equalizer,152132 koss 7.6 x 4.8 x 1.4 inches 1 12.65 kos...,"[0.0010477484, -0.086070366, 0.034467705, -0.1...","[0.02042741, -0.011510172, -0.028945455, -0.04...",koss eq50 3-band stereo equal,"[0.0010477484, -0.086070366, 0.034467705, -0.1...",152132 koss 7.6 x 4.8 x 1.4 inch 1 12.65 koss ...,152132 koss 7.6 x 4.8 x 1.4 inch 1 12.65 koss ...
1,1,kodak black ink cartridge 10b 1163641,10.28 kodak black ink cartridge 10b 1163641 5....,"[-0.09648556, 0.21575713, 0.048169017, 0.02637...","[0.0036135577, 0.09959835, 0.02122285, -0.0455...",kodak black ink cartridg 10b 1163641,"[-0.09648556, 0.21575713, 0.048169017, 0.02637...",10.28 kodak black ink cartridg 10b 1163641 5.3...,10.28 kodak black ink cartridg 10b 1163641 5.3...
2,2,kingston 128mx64 pc2700 compaq evo d320 ktc-d3...,kingston 128mx64 pc2700 compaq evo d320 ktc-d3...,"[-0.047196127, -0.028024228, -0.07523912, 0.02...","[0.031842884, -0.0026665835, -0.058182657, 0.0...",kingston 128mx64 pc2700 compaq evo d320 ktc-d3...,"[-0.047196127, -0.028024228, -0.07523912, 0.02...",kingston 128mx64 pc2700 compaq evo d320 ktc-d3...,kingston 128mx64 pc2700 compaq evo d320 ktc-d3...
3,3,kinamax ms-ues2 mini high precision usb 3-butt...,ms-ues2 kinamax ms-ues2 mini high precision us...,"[0.10978747, 0.05700407, -0.0034545418, -0.098...","[0.090299405, 0.015113612, -0.022535194, -0.07...",kinamax ms-ues2 mini high precis usb 3-button ...,"[0.10978747, 0.05700407, -0.0034545418, -0.098...",ms-ues2 kinamax ms-ues2 mini high precis usb 3...,ms-ues2 kinamax ms-ues2 mini high precis usb 3...
4,4,kensington k72349us wireless mouse for netbooks,kensington k72349us 24 4.1 x 3.2 x 1.5 inches ...,"[0.18436943, 0.06920704, 0.008767962, -0.30164...","[0.10931631, 0.02604087, -0.047270704, -0.0981...",kensington k72349us wireless mous netbook,"[0.18436943, 0.06920704, 0.008767962, -0.30164...",kensington k72349us 24 4.1 x 3.2 x 1.5 inch 1 ...,kensington k72349us 24 4.1 x 3.2 x 1.5 inch 1 ...
...,...,...,...,...,...,...,...,...,...
22069,22069,da-lite tripod skirt - projection screen skirt...,111.86 da-lite da-lite tripod skirt - projecti...,"[-0.07779973, 0.13278662, 0.01859348, -0.17211...","[0.014831788, 0.04197196, -0.012106475, -0.096...",da-lit tripod skirt - project screen skirt - b...,"[-0.07779973, 0.13278662, 0.01859348, -0.17211...",111.86 da-lit da-lit tripod skirt - project sc...,111.86 da-lit da-lit tripod skirt - project sc...
22070,22070,da-lite stand master i - cart for projector,da-lite i 329.95 29 da-lite stand master i - c...,"[0.11654196, 0.21828747, 0.12860528, -0.190680...","[0.07188366, 0.20454352, 0.079551965, -0.11587...",da-lit stand master - cart projector,"[0.11654196, 0.21828747, 0.12860528, -0.190680...",da-lit 329.95 29 da-lit stand master - cart pr...,da-lit 329.95 29 da-lit stand master - cart pr...
22071,22071,da-lite model b with csr high power - projecti...,16 da-lite da-lite model b with csr high power...,"[0.051367793, -0.06289295, 0.055537857, -0.139...","[0.04611175, -0.052437186, 0.04431916, -0.1135...",da-lit model b csr high power - project screen...,"[0.051367793, -0.06289295, 0.055537857, -0.139...",16 da-lit da-lit model b csr high power - proj...,16 da-lit da-lit model b csr high power - proj...
22072,22072,link depot fan led fan 120mm green,fan-4led-120gn link depot 29.23 1 link depot f...,"[0.14877416, 0.045709737, -0.07370468, -0.2976...","[0.16326523, 0.08106981, -0.054060854, -0.2363...",link depot fan led fan 120mm green,"[0.14877416, 0.045709737, -0.07370468, -0.2976...",fan-4led-120gn link depot 29.23 1 link depot f...,fan-4led-120gn link depot 29.23 1 link depot f...
22073,22073,lenovo thinkpad business topload case - notebo...,14.6 x 14.4 x 7.0 inches 43r2476 40.89 lenovo ...,"[-0.047709413, 0.009639352, 0.18086636, -0.120...","[-0.006133172, -0.01888922, 0.061757952, -0.05...",lenovo thinkpad busi topload case - notebook c...,"[-0.047709413, 0.009639352, 0.18086636, -0.120...",14.6 x 14.4 x 7.0 inch 43r2476 40.89 lenovo 4 ...,14.6 x 14.4 x 7.0 inch 43r2476 40.89 lenovo 4 ...

In [70]:
d7groundtruth = pd.read_csv(main_dir + 'D7groundtruth.csv', sep='|', engine='python')
d7groundtruth

      EntityFromPartA  EntityFromPartB
0                2508             3712
1                4367              970
2                3994             1206
3                2070             3203
4                 731             1707
...               ...              ...
1090             5994             5176
1091             2300             2538
1092             2728             1827
1093             5346             3667
1094             5676             4949

[1095 rows x 2 columns]

In [71]:
# walmart dataset
d8A = pd.read_csv(main_dir + 'D8partA.csv', sep='|', engine='python')
d8A

,Id,Title,Aggregate Value
0,5046,draper infrared remote transmitter,121066 draper draper infrared remote transmitt...
1,5047,epson 1500 hours 200w uhe projector lamp elplp12,438.84 6.75 x 5.75 x 5.5 inches epson 1500 hou...
2,5048,comprehensive two-piece 75 precision bnc jack ...,comprehensive 0.05 bj-2c7559 59.25 comprehensi...
3,5049,d-link dcs-1100 network camera,d-link dcs-1100 99.82 d-link dcs-1100 network ...
4,5050,startech.com rkpw247015 24 outlet power strip,59 rkpw247015 startech.com rkpw247015 24 outle...
...,...,...,...
2549,7595,3m dry-erase board porcelain 6 x4 aluminum frame,579.29 42 3m 3m dry-erase board porcelain 6 x4...
2550,7596,htc mytouch 3g white unlocked,0.85 mytouch 3g htc htc mytouch 3g white unloc...
2551,7597,dell series 2 color ink,dell series 2 color ink 35.97 7 330-0048 5.5 x...
2552,7598,belkin pro series high integrity monitor cable...,6.3 x 3.6 x 0.9 inches belkin pro series high ...
2553,7599,motorola mj270r 27 mile two way radio with 22 ...,47.11 motorola mj270r motorola mj270r 27 mile ...

In [72]:
d8A['Embedded Title'] = d8A.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d8A['Embedded Ag.Value'] = d8A.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [73]:
d8A['Clean Title'] = d8A.apply(lambda row : cleanSentence(row['Title']), axis = 1)
d8A['Embedded Clean Title'] = d8A.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d8A['Clean Ag.Value'] = d8A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d8A['Embedded Clean Ag.Value'] = d8A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d8A

,Id,Title,Aggregate Value,Embedded Title,Embedded Ag.Value,Clean Title,Embedded Clean Title,Clean Ag.Value,Embedded Clean Ag.Value
0,5046,draper infrared remote transmitter,121066 draper draper infrared remote transmitt...,"[-0.041791745, -0.12180135, -0.12067147, -0.14...","[-0.04436596, -0.030382428, -0.08243322, -0.09...",draper infrar remot transmitt,"[-0.041791745, -0.12180135, -0.12067147, -0.14...",121066 draper draper infrar remot transmitt 2 ...,121066 draper draper infrar remot transmitt 2 ...
1,5047,epson 1500 hours 200w uhe projector lamp elplp12,438.84 6.75 x 5.75 x 5.5 inches epson 1500 hou...,"[0.12758574, 0.0068775048, 0.0042955186, -0.06...","[0.089377396, 0.021688754, -0.013914476, -0.02...",epson 1500 hour 200w uhe projector lamp elplp12,"[0.12758574, 0.0068775048, 0.0042955186, -0.06...",438.84 6.75 x 5.75 x 5.5 inch epson 1500 hour ...,438.84 6.75 x 5.75 x 5.5 inch epson 1500 hour ...
2,5048,comprehensive two-piece 75 precision bnc jack ...,comprehensive 0.05 bj-2c7559 59.25 comprehensi...,"[0.13052498, -0.055410687, 0.18824711, -0.1686...","[0.123766944, -0.040044416, 0.15493174, -0.146...",comprehens two-piec 75 precis bnc jack rg-59 s...,"[0.13052498, -0.055410687, 0.18824711, -0.1686...",comprehens 0.05 bj-2c7559 59.25 comprehens two...,comprehens 0.05 bj-2c7559 59.25 comprehens two...
3,5049,d-link dcs-1100 network camera,d-link dcs-1100 99.82 d-link dcs-1100 network ...,"[0.006451072, -0.19479516, 0.011125416, -0.147...","[0.0126129715, -0.12611373, -0.008762743, -0.1...",d-link dcs-1100 network camera,"[0.006451072, -0.19479516, 0.011125416, -0.147...",d-link dcs-1100 99.82 d-link dcs-1100 network ...,d-link dcs-1100 99.82 d-link dcs-1100 network ...
4,5050,startech.com rkpw247015 24 outlet power strip,59 rkpw247015 startech.com rkpw247015 24 outle...,"[0.07048486, -0.09787749, 0.04934973, -0.08437...","[0.0691519, -0.022465246, 0.004578937, -0.0809...",startech.com rkpw247015 24 outlet power strip,"[0.07048486, -0.09787749, 0.04934973, -0.08437...",59 rkpw247015 startech.com rkpw247015 24 outle...,59 rkpw247015 startech.com rkpw247015 24 outle...
...,...,...,...,...,...,...,...,...,...
2549,7595,3m dry-erase board porcelain 6 x4 aluminum frame,579.29 42 3m 3m dry-erase board porcelain 6 x4...,"[0.06303669, 0.13564949, 0.027656995, -0.03279...","[0.022309618, 0.08679173, 0.034843877, -0.0441...",3m dry-eras board porcelain 6 x4 aluminum frame,"[0.06303669, 0.13564949, 0.027656995, -0.03279...",579.29 42 3m 3m dry-eras board porcelain 6 x4 ...,579.29 42 3m 3m dry-eras board porcelain 6 x4 ...
2550,7596,htc mytouch 3g white unlocked,0.85 mytouch 3g htc htc mytouch 3g white unloc...,"[0.11716516, -0.10164676, 0.07173791, -0.06959...","[0.05825845, -0.052381646, -0.009954411, -0.02...",htc mytouch 3g white unlock,"[0.11716516, -0.10164676, 0.07173791, -0.06959...",0.85 mytouch 3g htc htc mytouch 3g white unloc...,0.85 mytouch 3g htc htc mytouch 3g white unloc...
2551,7597,dell series 2 color ink,dell series 2 color ink 35.97 7 330-0048 5.5 x...,"[0.10252919, 0.057461232, 0.009159043, 0.04023...","[0.07698872, 0.035215247, 0.0072084023, -0.032...",dell seri 2 color ink,"[0.10252919, 0.057461232, 0.009159043, 0.04023...",dell seri 2 color ink 35.97 7 330-0048 5.5 x 3...,dell seri 2 color ink 35.97 7 330-0048 5.5 x 3...
2552,7598,belkin pro series high integrity monitor cable...,6.3 x 3.6 x 0.9 inches belkin pro series high ...,"[0.13094488, -0.14472334, 0.14787567, -0.20262...","[0.07822542, -0.047392655, 0.027613785, -0.087...",belkin pro seri high integr monitor cabl vga,"[0.13094488, -0.14472334, 0.14787567, -0.20262...",6.3 x 3.6 x 0.9 inch belkin pro seri high inte...,6.3 x 3.6 x 0.9 inch belkin pro seri high inte...
2553,7599,motorola mj270r 27 mile two way radio with 22 ...,47.11 motorola mj270r motorola mj270r 27 mile ...,"[0.108362526, -0.116265096, 0.100360736, -0.17...","[0.09053914, -0.054319605, 0.036570676, -0.134...",motorola mj270r 27 mile two way radio 22 chann...,"[0.108362526, -0.116265096, 0.100360736, -0.17...",47.11 motorola mj270r motorola mj270r 27 mile ...,47.11 motorola mj270r motorola mj270r 27 mile ...

In [74]:
# amazon dataset
d8B = pd.read_csv(main_dir + 'D8partB.csv', sep='|', engine='python')
d8B

,Id,Title,Aggregate Value
0,0,koss eq50 3-band stereo equalizer,152132 koss 7.6 x 4.8 x 1.4 inches 1 12.65 kos...
1,1,kodak black ink cartridge 10b 1163641,10.28 kodak black ink cartridge 10b 1163641 5....
2,2,kingston 128mx64 pc2700 compaq evo d320 ktc-d3...,kingston 128mx64 pc2700 compaq evo d320 ktc-d3...
3,3,kinamax ms-ues2 mini high precision usb 3-butt...,ms-ues2 kinamax ms-ues2 mini high precision us...
4,4,kensington k72349us wireless mouse for netbooks,kensington k72349us 24 4.1 x 3.2 x 1.5 inches ...
...,...,...,...
22069,22069,da-lite tripod skirt - projection screen skirt...,111.86 da-lite da-lite tripod skirt - projecti...
22070,22070,da-lite stand master i - cart for projector,da-lite i 329.95 29 da-lite stand master i - c...
22071,22071,da-lite model b with csr high power - projecti...,16 da-lite da-lite model b with csr high power...
22072,22072,link depot fan led fan 120mm green,fan-4led-120gn link depot 29.23 1 link depot f...
22073,22073,lenovo thinkpad business topload case - notebo...,14.6 x 14.4 x 7.0 inches 43r2476 40.89 lenovo ...

In [75]:
d8B['Embedded Title'] = d8B.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d8B['Embedded Ag.Value'] = d8B.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [76]:
d8B['Clean Title'] = d8B.apply(lambda row : cleanSentence(row['Title']), axis = 1)
d8B['Embedded Clean Title'] = d8B.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d8B['Clean Ag.Value'] = d8B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d8B['Embedded Clean Ag.Value'] = d8B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d8B

,Id,Title,Aggregate Value,Embedded Title,Embedded Ag.Value,Clean Title,Embedded Clean Title,Clean Ag.Value,Embedded Clean Ag.Value
0,0,koss eq50 3-band stereo equalizer,152132 koss 7.6 x 4.8 x 1.4 inches 1 12.65 kos...,"[0.0010477484, -0.086070366, 0.034467705, -0.1...","[0.02042741, -0.011510172, -0.028945455, -0.04...",koss eq50 3-band stereo equal,"[0.0010477484, -0.086070366, 0.034467705, -0.1...",152132 koss 7.6 x 4.8 x 1.4 inch 1 12.65 koss ...,152132 koss 7.6 x 4.8 x 1.4 inch 1 12.65 koss ...
1,1,kodak black ink cartridge 10b 1163641,10.28 kodak black ink cartridge 10b 1163641 5....,"[-0.09648556, 0.21575713, 0.048169017, 0.02637...","[0.0036135577, 0.09959835, 0.02122285, -0.0455...",kodak black ink cartridg 10b 1163641,"[-0.09648556, 0.21575713, 0.048169017, 0.02637...",10.28 kodak black ink cartridg 10b 1163641 5.3...,10.28 kodak black ink cartridg 10b 1163641 5.3...
2,2,kingston 128mx64 pc2700 compaq evo d320 ktc-d3...,kingston 128mx64 pc2700 compaq evo d320 ktc-d3...,"[-0.047196127, -0.028024228, -0.07523912, 0.02...","[0.031842884, -0.0026665835, -0.058182657, 0.0...",kingston 128mx64 pc2700 compaq evo d320 ktc-d3...,"[-0.047196127, -0.028024228, -0.07523912, 0.02...",kingston 128mx64 pc2700 compaq evo d320 ktc-d3...,kingston 128mx64 pc2700 compaq evo d320 ktc-d3...
3,3,kinamax ms-ues2 mini high precision usb 3-butt...,ms-ues2 kinamax ms-ues2 mini high precision us...,"[0.10978747, 0.05700407, -0.0034545418, -0.098...","[0.090299405, 0.015113612, -0.022535194, -0.07...",kinamax ms-ues2 mini high precis usb 3-button ...,"[0.10978747, 0.05700407, -0.0034545418, -0.098...",ms-ues2 kinamax ms-ues2 mini high precis usb 3...,ms-ues2 kinamax ms-ues2 mini high precis usb 3...
4,4,kensington k72349us wireless mouse for netbooks,kensington k72349us 24 4.1 x 3.2 x 1.5 inches ...,"[0.18436943, 0.06920704, 0.008767962, -0.30164...","[0.10931631, 0.02604087, -0.047270704, -0.0981...",kensington k72349us wireless mous netbook,"[0.18436943, 0.06920704, 0.008767962, -0.30164...",kensington k72349us 24 4.1 x 3.2 x 1.5 inch 1 ...,kensington k72349us 24 4.1 x 3.2 x 1.5 inch 1 ...
...,...,...,...,...,...,...,...,...,...
22069,22069,da-lite tripod skirt - projection screen skirt...,111.86 da-lite da-lite tripod skirt - projecti...,"[-0.07779973, 0.13278662, 0.01859348, -0.17211...","[0.014831788, 0.04197196, -0.012106475, -0.096...",da-lit tripod skirt - project screen skirt - b...,"[-0.07779973, 0.13278662, 0.01859348, -0.17211...",111.86 da-lit da-lit tripod skirt - project sc...,111.86 da-lit da-lit tripod skirt - project sc...
22070,22070,da-lite stand master i - cart for projector,da-lite i 329.95 29 da-lite stand master i - c...,"[0.11654196, 0.21828747, 0.12860528, -0.190680...","[0.07188366, 0.20454352, 0.079551965, -0.11587...",da-lit stand master - cart projector,"[0.11654196, 0.21828747, 0.12860528, -0.190680...",da-lit 329.95 29 da-lit stand master - cart pr...,da-lit 329.95 29 da-lit stand master - cart pr...
22071,22071,da-lite model b with csr high power - projecti...,16 da-lite da-lite model b with csr high power...,"[0.051367793, -0.06289295, 0.055537857, -0.139...","[0.04611175, -0.052437186, 0.04431916, -0.1135...",da-lit model b csr high power - project screen...,"[0.051367793, -0.06289295, 0.055537857, -0.139...",16 da-lit da-lit model b csr high power - proj...,16 da-lit da-lit model b csr high power - proj...
22072,22072,link depot fan led fan 120mm green,fan-4led-120gn link depot 29.23 1 link depot f...,"[0.14877416, 0.045709737, -0.07370468, -0.2976...","[0.16326523, 0.08106981, -0.054060854, -0.2363...",link depot fan led fan 120mm green,"[0.14877416, 0.045709737, -0.07370468, -0.2976...",fan-4led-120gn link depot 29.23 1 link depot f...,fan-4led-120gn link depot 29.23 1 link depot f...
22073,22073,lenovo thinkpad business topload case - notebo...,14.6 x 14.4 x 7.0 inches 43r2476 40.89 lenovo ...,"[-0.047709413, 0.009639352, 0.18086636, -0.120...","[-0.006133172, -0.01888922, 0.061757952, -0.05...",lenovo thinkpad busi topload case - notebook c...,"[-0.047709413, 0.009639352, 0.18086636, -0.120...",14.6 x 14.4 x 7.0 inch 43r2476 40.89 lenovo 4 ...,14.6 x 14.4 x 7.0 inch 43r2476 40.89 lenovo 4 ...

In [77]:
d8groundtruth = pd.read_csv(main_dir + 'D8groundtruth.csv', sep='|', engine='python')
d8groundtruth

     EntityFromPartA  EntityFromPartB
0               1190            10706
1               1340             8496
2               1512            20844
3               1183            11288
4                151              691
..               ...              ...
848             1077            11884
849              892            21096
850             1943            15780
851             1706            17026
852              798             6373

[853 rows x 2 columns]

In [78]:
# dblp dataset
d9A = pd.read_csv(main_dir + 'D9partA.csv', sep='>', engine='python')
d9A

,Id,Title,Aggregate Value
0,7600,semantic integration of environmental models f...,d. scott mackay 1999 semantic integration of e...
1,7601,estimation of query-result distribution and it...,estimation of query-result distribution and it...
2,7602,incremental maintenance for non-distributive a...,2002 vldb incremental maintenance for non-dist...
3,7603,cost-based selection of path expression proces...,cost-based selection of path expression proces...
4,7604,benchmarking spatial join operations with spat...,"vldb 1995 erik g. hoel, hanan samet benchmarki..."
...,...,...,...
2511,10111,database research at nthu and itri,arbee l. p. chen database research at nthu and...
2512,10112,a simple algorithm for finding frequent elemen...,"2003 scott shenker, christos h. papadimitriou,..."
2513,10113,sash: a self-adaptive histogram set for dynami...,2003 sash: a self-adaptive histogram set for d...
2514,10114,chair's message,2001 chair's message richard t. snodgrass sigm...
2515,10115,indexing and querying xml data for regular pat...,"2001 bongki moon, quanzhong li vldb indexing a..."

In [79]:
d9A['Embedded Title'] = d9A.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d9A['Embedded Ag.Value'] = d9A.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [80]:
d9A['Clean Title'] = d9A.apply(lambda row : cleanSentence(row['Title']), axis = 1)
d9A['Embedded Clean Title'] = d9A.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d9A['Clean Ag.Value'] = d9A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d9A['Embedded Clean Ag.Value'] = d9A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d9A

,Id,Title,Aggregate Value,Embedded Title,Embedded Ag.Value,Clean Title,Embedded Clean Title,Clean Ag.Value,Embedded Clean Ag.Value
0,7600,semantic integration of environmental models f...,d. scott mackay 1999 semantic integration of e...,"[0.18774153, -0.17557757, 0.33302847, -0.40904...","[0.13965651, -0.11643487, 0.24460466, -0.31460...",semant integr environment model applic global ...,"[0.18774153, -0.17557757, 0.33302847, -0.40904...",d. scott mackay 1999 semant integr environment...,d. scott mackay 1999 semant integr environment...
1,7601,estimation of query-result distribution and it...,estimation of query-result distribution and it...,"[0.14078535, -0.19512844, 0.20980813, -0.27120...","[0.16344677, -0.1348408, 0.12729296, -0.207189...",estim query-result distribut applic parallel-j...,"[0.14078535, -0.19512844, 0.20980813, -0.27120...",estim query-result distribut applic parallel-j...,estim query-result distribut applic parallel-j...
2,7602,incremental maintenance for non-distributive a...,2002 vldb incremental maintenance for non-dist...,"[0.23698105, -0.1599995, 0.4314398, -0.4170733...","[0.14918633, -0.05995311, 0.13808277, -0.15471...",increment mainten non-distribut aggreg function,"[0.23698105, -0.1599995, 0.4314398, -0.4170733...",2002 vldb increment mainten non-distribut aggr...,2002 vldb increment mainten non-distribut aggr...
3,7603,cost-based selection of path expression proces...,cost-based selection of path expression proces...,"[0.15472078, -0.06826528, 0.2552781, -0.344178...","[0.1493994, -0.068270035, 0.10130951, -0.23608...",cost-bas select path express process algorithm...,"[0.15472078, -0.06826528, 0.2552781, -0.344178...",cost-bas select path express process algorithm...,cost-bas select path express process algorithm...
4,7604,benchmarking spatial join operations with spat...,"vldb 1995 erik g. hoel, hanan samet benchmarki...","[0.34848812, -0.23668464, 0.098380044, -0.3050...","[0.15611574, -0.14559633, 0.087653, -0.2386567...",benchmark spatial join oper spatial output,"[0.34848812, -0.23668464, 0.098380044, -0.3050...","vldb 1995 erik g. hoel , hanan samet benchmark...","vldb 1995 erik g. hoel , hanan samet benchmark..."
...,...,...,...,...,...,...,...,...,...
2511,10111,database research at nthu and itri,arbee l. p. chen database research at nthu and...,"[0.35300282, 0.022736037, 0.15223789, -0.23207...","[0.114284426, 0.09111838, 0.07553513, -0.21697...",databas research nthu itri,"[0.35300282, 0.022736037, 0.15223789, -0.23207...",arbe l. p. chen databas research nthu itri 199...,arbe l. p. chen databas research nthu itri 199...
2512,10112,a simple algorithm for finding frequent elemen...,"2003 scott shenker, christos h. papadimitriou,...","[0.14416721, -0.00086136296, 0.2074716, -0.199...","[0.087221585, -0.024458524, 0.14678808, -0.186...",simpl algorithm find frequent element stream bag,"[0.14416721, -0.00086136296, 0.2074716, -0.199...","2003 scott shenker , christo h. papadimitriou ...","2003 scott shenker , christo h. papadimitriou ..."
2513,10113,sash: a self-adaptive histogram set for dynami...,2003 sash: a self-adaptive histogram set for d...,"[0.10240466, -0.039197482, 0.21656461, -0.1974...","[0.08876726, -0.029325524, 0.025809415, -0.154...",sash : self-adapt histogram set dynam chang wo...,"[0.10240466, -0.039197482, 0.21656461, -0.1974...",2003 sash : self-adapt histogram set dynam cha...,2003 sash : self-adapt histogram set dynam cha...
2514,10114,chair's message,2001 chair's message richard t. snodgrass sigm...,"[0.12419506, 0.30566892, 0.025255445, -0.29715...","[0.03689409, 0.1340048, 0.10800692, -0.1660171...",chair 's messag,"[0.12419506, 0.30566892, 0.025255445, -0.29715...",2001 chair 's messag richard t. snodgrass sigm...,2001 chair 's messag richard t. snodgrass sigm...
2515,10115,indexing and querying xml data for regular pat...,"2001 bongki moon, quanzhong li vldb indexing a...","[0.12083292, -0.034031384, 0.2662087, -0.27803...","[0.11040805, 0.0063082254, 0.077641234, -0.170...",index queri xml data regular path express,"[0.12083292, -0.034031384, 0.2662087, -0.27803...","2001 bongki moon , quanzhong li vldb index que...","2001 bongki moon , quanzhong li vldb index que..."

In [81]:
# scholar dataset
d9B = pd.read_csv(main_dir + 'D9partB.csv', sep='>', engine='python')
d9B

,Id,Title,Aggregate Value
0,0,11578 sorrento valley road,"san diego, 11578 sorrento valley road qd inc"
1,1,initiation of crazes in polystyrene,"as argon, jg hannoosh phil. mag, initiation of..."
2,2,immunogold labelling is a quantitative method ...,"1992 gh hansen, ll wetterberg, h sj?ï¿½str?ï¿½m, o..."
3,3,the burden of infectious disease among inmates...,"tm hammett, p harmon, w rhodes see the burden ..."
4,4,the role of faculty advising in science and en...,jr cogdell new directions for teaching and lea...
...,...,...,...
61348,61348,theophylline toxicity.,theophylline toxicity. journal of emergency me...
61349,61349,source acm transactions on database systems (t...,"acm transactions on database systems (tods), s..."
61350,61350,range nesting: a fast method to evaluate quant...,range nesting: a fast method to evaluate quant...
61351,61351,source acm transactions on database systems (t...,"acm transactions on database systems (tods), s..."
61352,61352,a declarative approach to optimize bulk loadin...,a declarative approach to optimize bulk loadin...

In [82]:
d9B['Embedded Title'] = d9B.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d9B['Embedded Ag.Value'] = d9B.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [83]:
d9B['Clean Title'] = d9B.apply(lambda row : cleanSentence(row['Title']), axis = 1)
d9B['Embedded Clean Title'] = d9B.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d9B['Clean Ag.Value'] = d9B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d9B['Embedded Clean Ag.Value'] = d9B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d9B

,Id,Title,Aggregate Value,Embedded Title,Embedded Ag.Value,Clean Title,Embedded Clean Title,Clean Ag.Value,Embedded Clean Ag.Value
0,0,11578 sorrento valley road,"san diego, 11578 sorrento valley road qd inc","[0.41864645, -0.08970013, -0.30331576, -0.0130...","[0.356732, -0.010626694, -0.09733343, 0.023819...",11578 sorrento valley road,"[0.41864645, -0.08970013, -0.30331576, -0.0130...","san diego , 11578 sorrento valley road qd inc","san diego , 11578 sorrento valley road qd inc"
1,1,initiation of crazes in polystyrene,"as argon, jg hannoosh phil. mag, initiation of...","[0.08380684, -0.1272364, 0.0016392708, -0.1883...","[0.0785949, -0.04218045, -0.036246408, -0.1686...",initi craze polystyren,"[0.08380684, -0.1272364, 0.0016392708, -0.1883...","argon , jg hannoosh phil . mag , initi craze p...","argon , jg hannoosh phil . mag , initi craze p..."
2,2,immunogold labelling is a quantitative method ...,"1992 gh hansen, ll wetterberg, h sj?ï¿½str?ï¿½m, o...","[0.113325134, -0.08865025, 0.13625379, -0.3286...","[0.111042514, 0.0037642552, 0.062219046, -0.22...",immunogold label quantit method demonstr studi...,"[0.113325134, -0.08865025, 0.13625379, -0.3286...","1992 gh hansen , wetterberg , h sj ? ï¿½str ? ï¿½m...","1992 gh hansen , wetterberg , h sj ? ï¿½str ? ï¿½m..."
3,3,the burden of infectious disease among inmates...,"tm hammett, p harmon, w rhodes see the burden ...","[0.26047444, -0.10115296, 0.09633163, -0.22680...","[0.19819932, -0.057892285, 0.0014452134, -0.16...",burden infecti diseas among inmat release corr...,"[0.26047444, -0.10115296, 0.09633163, -0.22680...","tm hammett , p harmon , w rhode see burden inf...","tm hammett , p harmon , w rhode see burden inf..."
4,4,the role of faculty advising in science and en...,jr cogdell new directions for teaching and lea...,"[0.17263532, -0.11239702, 0.15508588, -0.44533...","[0.11124393, -0.04966471, 0.138231, -0.3632823...",role faculti advis scienc engin,"[0.17263532, -0.11239702, 0.15508588, -0.44533...","jr cogdel new direct teach learn , role facult...","jr cogdel new direct teach learn , role facult..."
...,...,...,...,...,...,...,...,...,...
61348,61348,theophylline toxicity.,theophylline toxicity. journal of emergency me...,"[0.15534286, -0.09377899, 0.048159342, -0.1475...","[0.1736123, -0.057438172, 0.1382034, -0.156148...",theophyllin toxic .,"[0.15534286, -0.09377899, 0.048159342, -0.1475...","theophyllin toxic . journal emerg medicin , ds...","theophyllin toxic . journal emerg medicin , ds..."
61349,61349,source acm transactions on database systems (t...,"acm transactions on database systems (tods), s...","[0.20589809, -0.109156206, 0.15265712, -0.3295...","[0.14588054, -0.07794145, 0.13861121, -0.26956...",sourc acm transact databas system ( tod ) archiv,"[0.20589809, -0.109156206, 0.15265712, -0.3295...","acm transact databas system ( tod ) , sourc ac...","acm transact databas system ( tod ) , sourc ac..."
61350,61350,range nesting: a fast method to evaluate quant...,range nesting: a fast method to evaluate quant...,"[0.044972677, 0.030177096, 0.16409479, -0.2999...","[0.031119343, 0.068488955, 0.111584276, -0.309...",rang nest : fast method evalu quantifi queri,"[0.044972677, 0.030177096, 0.16409479, -0.2999...",rang nest : fast method evalu quantifi queri j...,rang nest : fast method evalu quantifi queri j...
61351,61351,source acm transactions on database systems (t...,"acm transactions on database systems (tods), s...","[0.20589809, -0.109156206, 0.15265712, -0.3295...","[0.1332037, -0.07471398, 0.13121344, -0.262632...",sourc acm transact databas system ( tod ) archiv,"[0.20589809, -0.109156206, 0.15265712, -0.3295...","acm transact databas system ( tod ) , sourc ac...","acm transact databas system ( tod ) , sourc ac..."
61352,61352,a declarative approach to optimize bulk loadin...,a declarative approach to optimize bulk loadin...,"[0.20025393, -0.067197256, 0.2149989, -0.32046...","[0.13855071, -0.058785785, 0.18782839, -0.2494...",declar approach optim bulk load databas,"[0.20025393, -0.067197256, 0.2149989, -0.32046...",declar approach optim bulk load databas acm tr...,declar approach optim bulk load databas acm tr...

In [84]:
d9groundtruth = pd.read_csv(main_dir + 'D9groundtruth.csv', sep='>', engine='python')
d9groundtruth

      EntityFromPartA  EntityFromPartB
0                1167            14662
1                 524             2493
2                1318            26706
3                1935             8261
4                 558            40632
...               ...              ...
2303              118            11605
2304                5            45565
2305              181             2286
2306             1658            10767
2307             1931            16781

[2308 rows x 2 columns]

In [85]:
# imdb dataset
d10A = pd.read_csv(main_dir + 'D10partA.csv', sep='|', engine='python')
d10A

,Id,Title,Aggregate Value
0,339,the silver lining,gayne whitman the silver lining
1,340,NaN,arthur christopher orme plummer karen blanche ...
2,341,kannathil muthamittal,nandita das rishibala naval prakash raj mani r...
3,342,zeb vs. paprika,al giebler zeb vs. paprika arthur stanley jeff...
4,343,thinner,lucinda jenney kari wuhrer joseph anthony mant...
...,...,...,...
27610,27949,NaN,paul naschy jacinto molina hans munkel barbara...
27611,27950,NaN,chuck connors peggy knudsen phylis lee isley r...
27612,27951,NaN,ryo ikebe yoshio tsuchiya ky?ko anzai leonard ...
27613,27952,abhilasha,abhilasha rao gopal rao radhika a. kodandarami...
27614,27953,NaN,jak kendall karen blanche ziegler mike patton ...

In [88]:
d10A['Title'] = d10A['Title'].astype(str)
d10A['Aggregate Value'] = d10A['Aggregate Value'].astype(str)
d10A['Embedded Title'] = d10A.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d10A['Embedded Ag.Value'] = d10A.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [89]:
d10A['Clean Title'] = d10A.apply(lambda row : cleanSentence(row['Title']), axis = 1)
d10A['Embedded Clean Title'] = d10A.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d10A['Clean Ag.Value'] = d10A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d10A['Embedded Clean Ag.Value'] = d10A.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d10A

,Id,Title,Aggregate Value,Embedded Title,Embedded Ag.Value,Clean Title,Embedded Clean Title,Clean Ag.Value,Embedded Clean Ag.Value
0,339,the silver lining,gayne whitman the silver lining,"[0.15412353, -0.043407857, -0.041360795, 0.120...","[0.042261146, -0.02150123, -0.17017618, 0.0395...",silver line,"[0.15412353, -0.043407857, -0.041360795, 0.120...",gayn whitman silver line,gayn whitman silver line
1,340,nan,arthur christopher orme plummer karen blanche ...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.046143446, 0.053380173, -0.18581285, 0.0508...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",arthur christoph orm plummer karen blanch zieg...,arthur christoph orm plummer karen blanch zieg...
2,341,kannathil muthamittal,nandita das rishibala naval prakash raj mani r...,"[0.28230307, -0.090141945, -0.12960006, -0.164...","[0.13568532, -0.035091676, -0.0770623, -0.1918...",kannathil muthamitt,"[0.28230307, -0.090141945, -0.12960006, -0.164...",nandita das rishibala naval prakash raj mani r...,nandita das rishibala naval prakash raj mani r...
3,342,zeb vs. paprika,al giebler zeb vs. paprika arthur stanley jeff...,"[0.031560972, -0.11935505, -0.05232674, -0.223...","[-0.044977445, -0.023611927, -0.03929935, -0.0...",zeb vs. paprika,"[0.031560972, -0.11935505, -0.05232674, -0.223...",al giebler zeb vs. paprika arthur stanley jeff...,al giebler zeb vs. paprika arthur stanley jeff...
4,343,thinner,lucinda jenney kari wuhrer joseph anthony mant...,"[0.027676834, -0.020764401, 0.20889834, 0.1375...","[0.08500656, -0.02577112, -0.09161204, 0.00602...",thinner,"[0.027676834, -0.020764401, 0.20889834, 0.1375...",lucinda jenney kari wuhrer joseph anthoni mant...,lucinda jenney kari wuhrer joseph anthoni mant...
...,...,...,...,...,...,...,...,...,...
27610,27949,nan,paul naschy jacinto molina hans munkel barbara...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.106784716, 0.010013583, 0.014323262, -0.248...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",paul naschi jacinto molina han munkel barbara ...,paul naschi jacinto molina han munkel barbara ...
27611,27950,nan,chuck connors peggy knudsen phylis lee isley r...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[-0.0087177595, 0.083746895, -0.08210237, -0.1...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",chuck connor peggi knudsen phyli lee isley rit...,chuck connor peggi knudsen phyli lee isley rit...
27612,27951,nan,ryo ikebe yoshio tsuchiya ky?ko anzai leonard ...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.16006438, -0.018958982, 0.034904335, -0.043...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",ryo ikeb yoshio tsuchiya ky ? ko anzai leonard...,ryo ikeb yoshio tsuchiya ky ? ko anzai leonard...
27613,27952,abhilasha,abhilasha rao gopal rao radhika a. kodandarami...,"[0.15655625, -0.17546119, -0.29236257, 0.06135...","[0.15779139, 0.013201959, -0.09870611, 0.00306...",abhilasha,"[0.15655625, -0.17546119, -0.29236257, 0.06135...",abhilasha rao gopal rao radhika a. kodandarami...,abhilasha rao gopal rao radhika a. kodandarami...
27614,27953,nan,jak kendall karen blanche ziegler mike patton ...,"[0.057205305, 0.101057045, -0.47775447, -0.111...","[0.050478097, 0.031634554, -0.18445745, 0.0005...",nan,"[0.057205305, 0.101057045, -0.47775447, -0.111...",jak kendal karen blanch ziegler mike patton su...,jak kendal karen blanch ziegler mike patton su...

In [90]:
# dblp dataset
d10B = pd.read_csv(main_dir + 'D10partB.csv', sep='|', engine='python')
d10B

,Id,Title,Aggregate Value
0,0,bain el atlal (1959),"1959 zulficar, ezzel dine khaled, rawhiyya zul..."
1,1,amma ariyan (1986),amma ariyan (1986) http://imdb.com/title/tt009...
2,2,daughters of today (1928),"mehta, g.k. (i) http://imdb.com/title/tt039105..."
3,3,"amor brujo, el (1986)","http://imdb.com/title/tt0090636 rodr?guez, man..."
4,4,amorosa (1986),"zweigbergk, ulf von lilja, efva g?ras, leif ek..."
...,...,...,...
23177,23177,"immortal story, the (1968)","http://imdb.com/title/tt0063127 583963 rey, fe..."
23178,23178,y?gi?: gekij?-ban (2004),"grayson, wayne y?gi?: gekij?-ban (2004) paull,..."
23179,23179,ice station zebra (1968),"sturges, john goodwin, jim (i) drama kristian,..."
23180,23180,silkwood (1983),"hopton, nancy slatton, don porter, vern (i) qu..."
23181,23181,"plainsman, the (1936)","hayes, george 'gabby' hamilton, chuck (i) dear..."

In [91]:
d10B['Title'] = d10B['Title'].astype(str)
d10B['Aggregate Value'] = d10B['Aggregate Value'].astype(str)
d10B['Embedded Title'] = d10B.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d10B['Embedded Ag.Value'] = d10B.apply(lambda row : sentence_embedding(row['Aggregate Value']), axis = 1)

In [92]:
d10B['Clean Title'] = d10B.apply(lambda row : cleanSentence(row['Title']), axis = 1)
d10B['Embedded Clean Title'] = d10B.apply(lambda row : sentence_embedding(row['Title']), axis = 1)
d10B['Clean Ag.Value'] = d10B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d10B['Embedded Clean Ag.Value'] = d10B.apply(lambda row : cleanSentence(row['Aggregate Value']), axis = 1)
d10B

,Id,Title,Aggregate Value,Embedded Title,Embedded Ag.Value,Clean Title,Embedded Clean Title,Clean Ag.Value,Embedded Clean Ag.Value
0,0,bain el atlal (1959),"1959 zulficar, ezzel dine khaled, rawhiyya zul...","[0.11362946, -0.09989015, -0.024564013, 0.0339...","[0.07141828, -0.014131392, -0.016569646, 0.043...",bain el atlal ( 1959 ),"[0.11362946, -0.09989015, -0.024564013, 0.0339...","1959 zulficar , ezzel dine khale , rawhiyya zu...","1959 zulficar , ezzel dine khale , rawhiyya zu..."
1,1,amma ariyan (1986),amma ariyan (1986) http://imdb.com/title/tt009...,"[0.12965369, -0.035258297, -0.16524121, -0.208...","[0.12079625, -0.005861214, -0.07906158, -0.087...",amma ariyan ( 1986 ),"[0.12965369, -0.035258297, -0.16524121, -0.208...",amma ariyan ( 1986 ) http : //imdb.com/title/t...,amma ariyan ( 1986 ) http : //imdb.com/title/t...
2,2,daughters of today (1928),"mehta, g.k. (i) http://imdb.com/title/tt039105...","[0.11352378, -0.060723227, -0.009465921, -0.17...","[0.11231692, 0.01222796, 0.08711582, -0.117925...",daughter today ( 1928 ),"[0.11352378, -0.060723227, -0.009465921, -0.17...","mehta , g.k. ( ) http : //imdb.com/title/tt039...","mehta , g.k. ( ) http : //imdb.com/title/tt039..."
3,3,"amor brujo, el (1986)","http://imdb.com/title/tt0090636 rodr?guez, man...","[0.046126384, -0.21731561, 0.032838266, -0.163...","[0.09971895, -0.0743104, 0.038477466, -0.04799...","amor brujo , el ( 1986 )","[0.046126384, -0.21731561, 0.032838266, -0.163...",http : //imdb.com/title/tt0090636 rodr ? guez ...,http : //imdb.com/title/tt0090636 rodr ? guez ...
4,4,amorosa (1986),"zweigbergk, ulf von lilja, efva g?ras, leif ek...","[0.11141758, -0.12421154, 0.007831441, -0.1746...","[0.06433326, -0.08462261, -0.05337999, -0.1677...",amorosa ( 1986 ),"[0.11141758, -0.12421154, 0.007831441, -0.1746...","zweigbergk , ulf von lilja , efva g ? ras , le...","zweigbergk , ulf von lilja , efva g ? ras , le..."
...,...,...,...,...,...,...,...,...,...
23177,23177,"immortal story, the (1968)","http://imdb.com/title/tt0063127 583963 rey, fe...","[0.045189727, -0.09210054, 0.029481502, -0.111...","[0.10587834, -0.01870438, 0.017323647, -0.1258...","immort stori , ( 1968 )","[0.045189727, -0.09210054, 0.029481502, -0.111...","http : //imdb.com/title/tt0063127 583963 rey ,...","http : //imdb.com/title/tt0063127 583963 rey ,..."
23178,23178,y?gi?: gekij?-ban (2004),"grayson, wayne y?gi?: gekij?-ban (2004) paull,...","[0.09190928, -0.07323323, 0.026764642, -0.1250...","[0.076717146, -0.029126583, 0.012543784, -0.12...",? gi ? : gekij ? -ban ( 2004 ),"[0.09190928, -0.07323323, 0.026764642, -0.1250...","grayson , wayn ? gi ? : gekij ? -ban ( 2004 ) ...","grayson , wayn ? gi ? : gekij ? -ban ( 2004 ) ..."
23179,23179,ice station zebra (1968),"sturges, john goodwin, jim (i) drama kristian,...","[0.100985415, -0.14956713, -0.049351122, -0.18...","[0.062131714, 0.02143309, 0.006609293, -0.1089...",ice station zebra ( 1968 ),"[0.100985415, -0.14956713, -0.049351122, -0.18...","sturg , john goodwin , jim ( ) drama kristian ...","sturg , john goodwin , jim ( ) drama kristian ..."
23180,23180,silkwood (1983),"hopton, nancy slatton, don porter, vern (i) qu...","[0.10142866, -0.043823823, -0.07147898, -0.188...","[0.096345164, 0.03418525, 2.2499673e-05, -0.13...",silkwood ( 1983 ),"[0.10142866, -0.043823823, -0.07147898, -0.188...","hopton , nanci slatton , porter , vern ( ) qui...","hopton , nanci slatton , porter , vern ( ) qui..."
23181,23181,"plainsman, the (1936)","hayes, george 'gabby' hamilton, chuck (i) dear...","[0.12418169, -0.11221288, -0.024340497, -0.193...","[0.050801076, 0.04006976, -0.008207317, -0.129...","plainsman , ( 1936 )","[0.12418169, -0.11221288, -0.024340497, -0.193...","hay , georg gabbi ' hamilton , chuck ( ) dear ...","hay , georg gabbi ' hamilton , chuck ( ) dear ..."

In [93]:
d10groundtruth = pd.read_csv(main_dir + 'D10groundtruth.csv', sep='|', engine='python')
d10groundtruth

       EntityFromPartA  EntityFromPartB
0                  948             4167
1                26064            16724
2                 5296             3735
3                11168             7886
4                 2807            13715
...                ...              ...
22858             4732            17758
22859            23883             1079
22860            11797            21191
22861             7925            14889
22862              602              111

[22863 rows x 2 columns]